.cont{
  width: 1100px;
  height: 650px;
  margin: 50px 20px 20px 350px;
}
input {
  width: 310px;
  height: 42px;
  margin-top: 18px;
}
.account_tabs {
  width: 100%;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 13px;
  box-shadow: 0 3px 17px 1px rgba(0, 0, 0, 0.11);
  background-color: #fefefe;
  box-sizing: border-box;
  margin-top: 9px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 900px;
  margin-bottom: 20px;
}
.button {
  margin-top: 40px;
}
.form {
  margin: 20px;
}
.disabled {
  cursor: default;
  background: #4e5154;
}


.meeting_header .account_btn {
  width: 115px;
}
.red {
  color : red;
}

.btn-dropdown {
  padding: 28px;
  background: white;
  z-index: 1;
  width: 308px;
}
.dropdown-link:hover {
  color: #5467D9;
}

.dropdown-link {
  color: #0F0F0F;
  margin-bottom: 20px;
  display: block;
}


.btn-select:after {
  content: "";
  border-right: 1px solid white;
  height: 40px;
  position: relative;
  left: -27px;
}

.search-filter {
  margin-top: 20px;
  padding: 22px;
  background: #F5F5F5;
}

.filter-item span {
  font-weight: bold;
  font-size: 13px;
}

.search-filter .account_btn {
  width: 142px;
  font-size: 11px;
  height: 41px;
}

.search-result {
  margin-top: 28px;
}

.account_btn {
  width: 116px;
  font-size: 13px;
  height: 41px;
}

.meetingusers_table.stable.ver th, .meetingusers_table.stable.ver tbody td {
  width: auto;
}

.controls .pageheader_option {
  margin-top: 0;
}

.controls {
  position: relative;
  width: 400px;
}

.export-controls {
  width: 260px;
}

.export-controls.active {
  display: block;
}

.export-control-item {
  padding: 10px;
}

.document-preview img {
  max-height: 553px;
  width: 100%;
}

.modal-create {

}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  color: #5467D9;
  font-size: 24px;
  font-weight: bold;
  padding: 25px 25px 0;
  text-align: center;
}

.modal-header {
  border-bottom: unset;
}

.modal_footer {
  justify-content: space-around;
}

.modal_footer .account_btn {
  width: 222px !important;
}



.object-row {
  cursor: pointer;
}

.selected-object{
  background-color: #e5e5e5;
}

a.disabled {
  color: lightgray;
&:hover {
   text-decoration: none;
   color: lightgray;
 }
}
.modal-content {
.file-input {
  width: 64%;
  position: relative;
}

span {
  color: #ffffff;
}

label p {
  height: 40px;
  width: 64%;
  padding-left: 9px;
  box-sizing: border-box;
  color: #000000;
  font-family: "Proxima Nova Rg";
  font-size: 18px;
  border: 2px solid #e2e2e2;
  background-color: transparent;
  border-radius: 4px;
  text-align: left;
  display: flex;
  align-items: center;
  overflow: hidden;
}


.title-langname {
  color: #000000;
  font-weight: 500;
}

.red-color {
  color: red;
  padding-left: 10px;
}
}

textarea.disabled {
  background-color: #EBEBE4;
}

.row {
  display: flex;
  flex-direction: row;
  margin-left:10px;
}
.button {
  margin-left: 15px;
}
.bigger {
  width: 250px;
}
