.light-green {
  background: #C9D5C8;
}
.light-green2 {
  background: #AFC0AD;
}
.colorful-green {
  background: #74B96C;
}
.dark-green2 {
  background: #2A5725;
}
.dark-green2-text {
  color: #2A5725;
}
.darkest-green {
  background: #293A23;
}
.dark-green1 {
  background: #435D40;
}
.dark-green1-button {
  background: #435D40;
}
.dark-green1-button:hover {
  background: #52794e;
}
.red-button {
  background: #D4BABA;
}
.light-gray {
  background: #EAEAEA;
}
.dark-gray2 {
  background: #BFBFBF;
}
.dark-gray {
  background: #D0D0D0;
}
.white {
  color: white;
}
.gray-text {
  color: #565555;
}
.background-white {
  background: white;
}
.light-violet {
  background: #F0EFFA;
}
.light-violet:hover {
  background: #e4e1fa;
}
.dark-violet {
  background: #A0A3BD;
}
.disabled {
  background: #EAEAEA;
}
.blue {
  color: #1C229F;
}
