.light-green {
  background: #C9D5C8;
}
.dark-green1 {
  background: #435D40;
}
.dark-green1-button {
  background: #435D40;
}
.dark-green1-button:hover {
  background: #52794e;
}
.light-gray {
  background: #EAEAEA;
}
.dark-gray {
  background: #D0D0D0;
}
.white {
  color: white;
}
.background-white {
  background: white;
}
