
input {
  border: none;
  padding: 10px;
  border-radius: 34px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

button {
  border: none;
  text-align: center;
  gap: 10px;
  border-radius: 22px;
}

button:hover {
  cursor: pointer;
}

select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #F0EFFA;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

select:hover {
  background-color: #ecf0f1;
}

select option {
  font-size: 16px;
}

select option:hover {
  background-color: #ecf0f1;
}

.pointer {
  cursor: pointer;
}
