.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}





.item-30 {
  width: 30px;
}
.item-80 {
  width: 80px;
}
.item-90 {
  width: 100px;
}
.item-100 {
  width: 100px;
}
.item-120 {
  width: 120px;
}
.item-150 {
  width: 150px;
}
.item-200 {
  width: 200px;
}
.item-250 {
  width: 250px;
}
.item-370 {
  width: 370px;
}
.item-400 {
  width: 400px;
}
.item-600 {
  width: 600px;
}
.item-650 {
  width: 650px;
}
.item-700 {
  width: 700px;
}
.item-1000 {
  width: 1000px;
}

.h-20 {
  height: 20px;
}
.h-40 {
  height: 40px;
}
.h-70 {
  height: 70px;
}
.h-150 {
  height: 150px;
}
.h-220 {
  height: 220px;
}
.h-300 {
  height: 300px;
}
.h-500 {
  height: 500px;
}
.h-600 {
  height: 600px;
}
.h-700 {
  height: 700px;
}
.h-800 {
  height: 800px;
}

.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}


.mr-10 {
  margin-right: 10px;
}
.mr-30 {
  margin-right: 30px;
}

.mt-20 {
  margin-top: 20px;
}





.pb-10 {
  padding-bottom: 10px;
}
.pb-80 {
  padding-bottom: 80px;
}
