.searchtable .stable.ver .stable_hdr{
    padding-top: 7px;
}
.searchtable .stable.ver .aligncenter {
    text-align: center;
}
.searchtable .stable.ver td {
    height: 42px;
    vertical-align: middle;
    padding-top: unset;
    color: var(--primary-black, #261C15);
    padding-bottom: unset;

}
.searchtable .stable.ver .account_input {
    margin-top: 15px;
}
.searchtable .stable.ver .account_input input{
    background: white;
    padding-left: 15px;
    font-size: 14px;
    height: 40px;
}
.searchtable .stable.ver .stable_hdr a {
    display: block;
}
.searchtable .stable_hdr.sort > a:after {
    right: 0;
}
.searchtable .stable.ver tbody td:nth-child(2) {
    font-family: 'Raleway';
    color: var(--primary-black, #261C15);
}
.searchtable.adminusertable .stable.ver th:nth-child(1), .searchtable.adminusertable .stable.ver tbody td:nth-child(1){
    width: 224px;
}
.searchtable.adminusertable .stable.ver th:nth-child(2), .searchtable.adminusertable .stable.ver tbody td:nth-child(2){
    width: 146px;
}
.searchtable.adminusertable .stable.ver th:nth-child(3), .searchtable.adminusertable .stable.ver tbody td:nth-child(3){
    width: 80px;
}
.searchtable.adminusertable .stable.ver th:nth-child(4), .searchtable.adminusertable .stable.ver tbody td:nth-child(4){
    width: 101px;
}
.searchtable.adminusertable .stable.ver th:nth-child(5), .searchtable.adminusertable .stable.ver tbody td:nth-child(5){
    width: 120px;
}
.searchtable.adminusertable .stable.ver th:nth-child(6), .searchtable.adminusertable .stable.ver tbody td:nth-child(6){
    width: 104px;
}
.searchtable.adminusertable .stable.ver th:nth-child(7), .searchtable.adminusertable .stable.ver tbody td:nth-child(7){
    width: 85px;
}
.searchtable.adminusertable .stable.ver th:nth-child(8), .searchtable.adminusertable .stable.ver tbody td:nth-child(8){
    width: 130px;
}

.searchtable.adminrolestable .stable.ver th:nth-child(1), .searchtable.adminrolestable .stable.ver tbody td:nth-child(1){
    width: 232px;
}
.searchtable.adminrolestable .stable.ver th:nth-child(2), .searchtable.adminrolestable .stable.ver tbody td:nth-child(2){
    width: 236px;
}
.searchtable.adminrolestable .stable.ver th:nth-child(3), .searchtable.adminrolestable .stable.ver tbody td:nth-child(3){
    width: auto;
}

.searchtable.adminrightstable .stable.ver th:nth-child(1), .searchtable.adminrightstable .stable.ver tbody td:nth-child(1){
    width: 232px;
}
.searchtable.adminrightstable .stable.ver th:nth-child(2), .searchtable.adminrightstable .stable.ver tbody td:nth-child(2){
    width: auto;
}

.searchtable.adminmodalusertable .stable.ver th:nth-child(1), .searchtable.adminmodalusertable .stable.ver tbody td:nth-child(1){
    width: 143px;
}
.searchtable.adminmodalusertable .stable.ver th:nth-child(2), .searchtable.adminmodalusertable .stable.ver tbody td:nth-child(2){
    width: auto;
}
.adminmodal_line .account_input.crerinput input, .adminmodal_line .stselect.large, .adminmodal_line .stselect .head, .adminmodal_line .stselect .head:after {
    height: 40px;
}
.adminmodal_line .stselect ul {
    left: 0;
}
.adminmodal_line .stselect .head {
    line-height: 40px;
}
.adminmodal_line.creaform_line .stselect.large ul {
    top: 38px;
}
.adminmodalusertable .stable.ver th.stable_hdr {
    height: 48px;
    padding-top: 0;
    vertical-align: middle;
}
.stable_hdr.inlinechild .checkbox, .stable.ver .stable_hdr.inlinechild a{
    display: inline-block;
}
.account_input.crerinput.width-470 input{
    width: 470px;
}
.adminmodal_line .norma-theme {
    margin-right: 39px;
}
.adminmodal_line .norma-theme:last-child {
    margin-right: auto;
}
.account_input.crerinput.adminperissions-theme input{
    height: 40px;
}
.account_input.crerinput.adminperissions-theme textarea{
    height: 60px;
}
.width-223, .hodfilter_input.width-223 input{
    width: 223px;
}
.hodfilter.audact-theme .stselect.large.width-335, .hodfilter.audact-theme .stselect.large.width-335 ul {
    width: 335px;
}

.searchtable.securitylogtable .stable.ver th {
    height:  64px;
}
.searchtable.securitylogtable .stable.ver th:nth-child(1), .searchtable.securitylogtable .stable.ver tbody td:nth-child(1){
    width: 70px;
}
.searchtable.securitylogtable .stable.ver th:nth-child(2), .searchtable.securitylogtable .stable.ver tbody td:nth-child(2){
    width: 142px;
}
.searchtable.securitylogtable .stable.ver th:nth-child(3), .searchtable.securitylogtable .stable.ver tbody td:nth-child(3){
    width: 174px;
}
.searchtable.securitylogtable .stable.ver th:nth-child(4), .searchtable.securitylogtable .stable.ver tbody td:nth-child(4){
    width: 86px;
}
.searchtable.securitylogtable .stable.ver th:nth-child(5), .searchtable.securitylogtable .stable.ver tbody td:nth-child(5){
    width: 104px;
}
.searchtable.securitylogtable .stable.ver th:nth-child(6), .searchtable.securitylogtable .stable.ver tbody td:nth-child(6){
    width: 119px;
}
.searchtable.securitylogtable .stable.ver th:nth-child(7), .searchtable.securitylogtable .stable.ver tbody td:nth-child(7){
    width: 176px;
}
.searchtable.securitylogtable .stable.ver th:nth-child(8), .searchtable.securitylogtable .stable.ver tbody td:nth-child(8){
    width: 131px;
}
.hodfilter_line .checkbox label{
    font-family: "Proxima Nova Rg";
    font-size: 16px;
}
.hodfilter_catname {
    position: unset;
}
.hodfilter.audact-theme .stselect.large, .hodfilter.audact-theme .stselect.large ul
.width-520, .hodfilter.audact-theme .stselect.large.width-520, .hodfilter.audact-theme .stselect.large.width-520 ul {
    width: 520px;
}
.stable_box.ver.hoditable2 td.secondlvl {
    padding-left: 60px;
}
.stable_box.ver.hoditable2 td.spoiler.secondlvl:before {
    left: 39px;
}
.stable_box.ver.hoditable2 td.thirdlvl {
    padding-left: 80px;
}

.ualfirsteventtable .stable.ver th:nth-child(1),.ualfirsteventtable .stable.ver tbody td:nth-child(1) {
    width: 228px;
}
.ualfirsteventtable .stable.ver th:nth-child(2),.ualfirsteventtable .stable.ver tbody td:nth-child(2) {
    width: 350px;
}
.ualfirsteventtable .stable.ver th:nth-child(3),.ualfirsteventtable .stable.ver tbody td:nth-child(3) {
    width: auto;
}
.stable .strong {
    font-family: Montserrat;
}
.searchtable.ualsecondeventtable .stable.ver th {
    height: 64px;
}
.searchtable.ualsecondeventtable .stable.ver th:nth-child(1), .searchtable.ualsecondeventtable .stable.ver tbody td:nth-child(1) {
    width: 52px;
}
.searchtable.ualsecondeventtable .stable.ver th:nth-child(2), .searchtable.ualsecondeventtable .stable.ver tbody td:nth-child(2) {
    width: 131px;
}
.searchtable.ualsecondeventtable .stable.ver th:nth-child(3), .searchtable.ualsecondeventtable .stable.ver tbody td:nth-child(3) {
    width: 172px;
}
.searchtable.ualsecondeventtable .stable.ver th:nth-child(4), .searchtable.ualsecondeventtable .stable.ver tbody td:nth-child(4) {
    width: 76px;
}
.searchtable.ualsecondeventtable .stable.ver th:nth-child(5), .searchtable.ualsecondeventtable .stable.ver tbody td:nth-child(5) {
    width: 81px;
}
.searchtable.ualsecondeventtable .stable.ver th:nth-child(6), .searchtable.ualsecondeventtable .stable.ver tbody td:nth-child(6) {
    width: 138px;
}
.searchtable.ualsecondeventtable .stable.ver th:nth-child(7), .searchtable.ualsecondeventtable .stable.ver tbody td:nth-child(7) {
    width: 142px;
}
.searchtable.ualsecondeventtable .stable.ver th:nth-child(8), .searchtable.ualsecondeventtable .stable.ver tbody td:nth-child(8) {
    width: 120px;
}
.searchtable.ualsecondeventtable .stable.ver th:nth-child(9), .searchtable.ualsecondeventtable .stable.ver tbody td:nth-child(9) {
    width: 92px;
}
.ualdocumentchangestable .stable.ver th,.ualdocumentchangestable .stable.ver tbody td {
    padding-left: 0;
}
.ualdocumentchangestable .stable.ver th:nth-child(1),.ualdocumentchangestable .stable.ver tbody td:nth-child(1){
    width: 56px;
    padding-left: 20px;
}
.ualdocumentchangestable .stable.ver th:nth-child(2),.ualdocumentchangestable .stable.ver tbody td:nth-child(2){
    width: 293px;
}
.ualdocumentchangestable .stable.ver th:nth-child(3),.ualdocumentchangestable .stable.ver tbody td:nth-child(3){
    width: 170px;
}
.ualdocumentchangestable .stable.ver th:nth-child(4),.ualdocumentchangestable .stable.ver tbody td:nth-child(4){
    width: 175px;
}
.ualdocumentchangestable .stable.ver th:nth-child(5),.ualdocumentchangestable .stable.ver tbody td:nth-child(5){
    width: 152px;
}
.ualdocumentchangestable .stable.ver th:nth-child(6),.ualdocumentchangestable .stable.ver tbody td:nth-child(6){
    width: 156px;
}
