.hodfilter_input.width-309, .hodfilter_input.width-309 input {
    width:309px;
}

.stselect.large.is-theme {
    margin-top: 15px;
    margin-left: 0;
}
.stselect.large.is-theme .stselect_name {
    top: -22px;
}

.hodfilter.audact-theme .stselect.isbigselect,.hodfilter.audact-theme .stselect.isbigselect ul{
    width: 665px;
}

.internship_btn {
    padding-left: 24px;
    padding-right: 24px;
}
.internship_btn.mleft32 {
    margin-left: 32px;
}


.prepatable1.interntable1 .stable.ver.tasks_table th,
.prepatable1.interntable3 .stable.ver.tasks_table th,
.prepatable1.interntable4 .stable.ver.tasks_table th {
    height: 60px;
}
.prepatable1.interntable2 .stable.ver.tasks_table th {
    height: 47px;
}

.prepatable1.interntable1 .stable.ver.tasks_table td,
.prepatable1.interntable2 .stable.ver.tasks_table td,
.prepatable1.interntable3 .stable.ver.tasks_table td,
.prepatable1.interntable4 .stable.ver.tasks_table td {
    height: 42px;
}

.prepatable1.interntable1 .stable.ver.tasks_table th:nth-child(1),
.prepatable1.interntable1 .stable.ver.tasks_table tbody td:nth-child(1){
    width: 67px;
}
.prepatable1.interntable1 .stable.ver.tasks_table th:nth-child(2),
.prepatable1.interntable1 .stable.ver.tasks_table tbody td:nth-child(2){
    width: 88px;
}
.prepatable1.interntable1 .stable.ver.tasks_table th:nth-child(3),
.prepatable1.interntable1 .stable.ver.tasks_table tbody td:nth-child(3){
    width: 62px;
}
.prepatable1.interntable1 .stable.ver.tasks_table th:nth-child(4),
.prepatable1.interntable1 .stable.ver.tasks_table tbody td:nth-child(4){
    width: 115px;
}
.prepatable1.interntable1 .stable.ver.tasks_table th:nth-child(5),
.prepatable1.interntable1 .stable.ver.tasks_table tbody td:nth-child(5){
    width: 193px;
}
.prepatable1.interntable1 .stable.ver.tasks_table th:nth-child(6),
.prepatable1.interntable1 .stable.ver.tasks_table tbody td:nth-child(6){
    width: 162px;
}
.prepatable1.interntable1 .stable.ver.tasks_table th:nth-child(7),
.prepatable1.interntable1 .stable.ver.tasks_table tbody td:nth-child(7){
    width: 111px;
}
.prepatable1.interntable1 .stable.ver.tasks_table th:nth-child(8),
.prepatable1.interntable1 .stable.ver.tasks_table tbody td:nth-child(8){
    width: 104px;
}
.prepatable1.interntable1 .stable.ver.tasks_table th:nth-child(9),
.prepatable1.interntable1 .stable.ver.tasks_table tbody td:nth-child(9){
    width: 100px;
}

.prepatable1.interntable2 .stable.ver.tasks_table th:nth-child(1),
.prepatable1.interntable2 .stable.ver.tasks_table tbody td:nth-child(1){
    width: 271px;
}
.prepatable1.interntable2 .stable.ver.tasks_table th:nth-child(2),
.prepatable1.interntable2 .stable.ver.tasks_table tbody td:nth-child(2){
    width: 140px;
}
.prepatable1.interntable2 .stable.ver.tasks_table th:nth-child(3),
.prepatable1.interntable2 .stable.ver.tasks_table tbody td:nth-child(3){
    width: 181px;
}
.prepatable1.interntable2 .stable.ver.tasks_table th:nth-child(4),
.prepatable1.interntable2 .stable.ver.tasks_table tbody td:nth-child(4){
    width: 411px;
}


.prepatable1.interntable3 .stable.ver.tasks_table th:nth-child(1),
.prepatable1.interntable3 .stable.ver.tasks_table tbody td:nth-child(1){
    width: 60px;
}
.prepatable1.interntable3 .stable.ver.tasks_table th:nth-child(2),
.prepatable1.interntable3 .stable.ver.tasks_table tbody td:nth-child(2){
    width: 101px;
}
.prepatable1.interntable3 .stable.ver.tasks_table th:nth-child(3),
.prepatable1.interntable3 .stable.ver.tasks_table tbody td:nth-child(3){
    width: 93px;
}
.prepatable1.interntable3 .stable.ver.tasks_table th:nth-child(4),
.prepatable1.interntable3 .stable.ver.tasks_table tbody td:nth-child(4){
    width: 130px;
}
.prepatable1.interntable3 .stable.ver.tasks_table th:nth-child(5),
.prepatable1.interntable3 .stable.ver.tasks_table tbody td:nth-child(5){
    width: 414px;
}
.prepatable1.interntable3 .stable.ver.tasks_table th:nth-child(6),
.prepatable1.interntable3 .stable.ver.tasks_table tbody td:nth-child(6){
    width: 104px;
}
.prepatable1.interntable3 .stable.ver.tasks_table th:nth-child(7),
.prepatable1.interntable3 .stable.ver.tasks_table tbody td:nth-child(7){
    width: 100px;
}

.prepatable1.interntable4 .stable.ver.tasks_table th:nth-child(1),
.prepatable1.interntable4 .stable.ver.tasks_table tbody td:nth-child(1){
    width: 81px;
}
.prepatable1.interntable4 .stable.ver.tasks_table th:nth-child(2),
.prepatable1.interntable4 .stable.ver.tasks_table tbody td:nth-child(2){
    width: 149px;
}
.prepatable1.interntable4 .stable.ver.tasks_table th:nth-child(3),
.prepatable1.interntable4 .stable.ver.tasks_table tbody td:nth-child(3){
    width: 243px;
}
.prepatable1.interntable4 .stable.ver.tasks_table th:nth-child(4),
.prepatable1.interntable4 .stable.ver.tasks_table tbody td:nth-child(4){
    width: 236px;
}
.prepatable1.interntable4 .stable.ver.tasks_table th:nth-child(5),
.prepatable1.interntable4 .stable.ver.tasks_table tbody td:nth-child(5){
    width: 162px;
}
.prepatable1.interntable4 .stable.ver.tasks_table th:nth-child(6),
.prepatable1.interntable4 .stable.ver.tasks_table tbody td:nth-child(6){
    width: 132px;
}

.stselect.recapp-theme, .stselect.recapp-theme ul {
    width: 169px;
}

.afilter_name.recapp-theme {
    font-family: 'Proxima Nova bold';
    font-size: 14px;
}


.prepatable1.recapptable1 .stable.ver.tasks_table th {
    height: 85px;
}
.prepatable1.recapptable1 .stable.ver.tasks_table td {
    height: 42px;
}

.prepatable1.recapptable1 .stable.ver.tasks_table th:nth-child(1),
.prepatable1.recapptable1 .stable.ver.tasks_table tbody td:nth-child(1){
    width: 51px;
}

.prepatable1.recapptable1 .stable.ver.tasks_table th:nth-child(2),
.prepatable1.recapptable1 .stable.ver.tasks_table tbody td:nth-child(2){
    width: 31px;
}

.prepatable1.recapptable1 .stable.ver.tasks_table th:nth-child(3),
.prepatable1.recapptable1 .stable.ver.tasks_table tbody td:nth-child(3){
    width: 88px;
}

.prepatable1.recapptable1 .stable.ver.tasks_table th:nth-child(4),
.prepatable1.recapptable1 .stable.ver.tasks_table tbody td:nth-child(4){
    width: 111px;
}

.prepatable1.recapptable1 .stable.ver.tasks_table th:nth-child(5),
.prepatable1.recapptable1 .stable.ver.tasks_table tbody td:nth-child(5){
    width: 137px;
}

.prepatable1.recapptable1 .stable.ver.tasks_table th:nth-child(6),
.prepatable1.recapptable1 .stable.ver.tasks_table tbody td:nth-child(6){
    width: 118px;
}

.prepatable1.recapptable1 .stable.ver.tasks_table th:nth-child(7),
.prepatable1.recapptable1 .stable.ver.tasks_table tbody td:nth-child(7){
    width: 108px;
}

.prepatable1.recapptable1 .stable.ver.tasks_table th:nth-child(8),
.prepatable1.recapptable1 .stable.ver.tasks_table tbody td:nth-child(8){
    width: 152px;
}

.prepatable1.recapptable1 .stable.ver.tasks_table th:nth-child(9),
.prepatable1.recapptable1 .stable.ver.tasks_table tbody td:nth-child(9){
    width: 96px;
}

.prepatable1.recapptable1 .stable.ver.tasks_table th:nth-child(10),
.prepatable1.recapptable1 .stable.ver.tasks_table tbody td:nth-child(10){
    width: 112px;
}
.account_input.crerinput.input160, .account_input.crerinput.input160 input {
    width: 160px;
}
.inputbox {
    display: flex;
    justify-content: space-between;
    width: 533px;
}
.subtitle.semibold {
    font-family: 'Proxima Nova Semibold', sans-serif;
    font-size: 20px;
}
.input-desctiption {
    position: absolute;
    bottom: 11px;
    right: 23px;
    color: #000000;
    opacity: 0.5;
    font-family: 'Proxima Nova Rg';
    font-size: 18px;
    margin:0;
    padding: 0;
    user-select: none;
}
.crerinput .mbottom35 {
    margin-bottom: 35px;
}
.column-left {
    display: flex;
    width: 487px;
}
.creaform_line .account_btn.discussion_btn.cq_btn {
    width: unset;
}
.stselect.hidden {
    visibility: hidden;
}

.cq-theme .stable.ver.auditinfo_table th{
    height: 45px;
}
.cq-theme .stable.ver.auditinfo_table td{
    height: 52px;
}
.cqtable1 .stable.ver.auditinfo_table th:nth-child(1), .cqtable1 .stable.ver.auditinfo_table tbody td:nth-child(1){
    width: 660px;
}
.cqtable1 .stable.ver.auditinfo_table th:nth-child(2), .cqtable1 .stable.ver.auditinfo_table tbody td:nth-child(2){
    width: 343px;
}
.stable_hdr.aligncenter {
    text-align: center;
}

.cqtable2 .stable.ver.auditinfo_table th:nth-child(1), .cqtable2 .stable.ver.auditinfo_table tbody td:nth-child(1){
    width: 798px;
}
.cqtable2 .stable.ver.auditinfo_table th:nth-child(2), .cqtable2 .stable.ver.auditinfo_table tbody td:nth-child(2){
    width: 205px;
}

.cqtable3 .stable.ver.auditinfo_table th:nth-child(1), .cqtable3 .stable.ver.auditinfo_table tbody td:nth-child(1){
    width: 307px;
}
.cqtable3 .stable.ver.auditinfo_table th:nth-child(2), .cqtable3 .stable.ver.auditinfo_table tbody td:nth-child(2){
    width: 149px;
}
.cqtable3 .stable.ver.auditinfo_table th:nth-child(3), .cqtable3 .stable.ver.auditinfo_table tbody td:nth-child(3){
    width: 344px;
}
.cqtable3 .stable.ver.auditinfo_table th:nth-child(4), .cqtable3 .stable.ver.auditinfo_table tbody td:nth-child(4){
    width: 203px;
}
.account_btn.discussion_btn.regbtn {
    width: 128px;
}
.content_tbox.stable_box td > b{
    color: #000000;
    font-family: 'Proxima Nova Semibold';
    font-size: 15px;
}
.registable1 .tasks_table.stable.ver {
    min-width: 2839px;
    width: unset;
}
.registable1 .tasks_table.stable.ver th, .registable1 .tasks_table.stable.ver td {
    padding-right: 0 !important;
    text-align: left !important;
}
.registable1 .tasks_table.stable.ver td {
    padding-left: 10px !important;
}
.registable1 .tasks_table.stable.ver th {
    height: 103px;
}
.registable1 .tasks_table.stable.ver tbody td {
    height: 42px;
}
.registable1 .tasks_table.stable.ver th:nth-child(1), .registable1 .tasks_table.stable.ver tbody td:nth-child(1){
    width: 59px;
    padding-left: 19px !important;
}
.registable1 .tasks_table.stable.ver th:nth-child(2), .registable1 .tasks_table.stable.ver tbody td:nth-child(2){
    width: 118px;
}
.registable1 .tasks_table.stable.ver th:nth-child(3), .registable1 .tasks_table.stable.ver tbody td:nth-child(3){
    width: 87px;
}
.registable1 .tasks_table.stable.ver th:nth-child(4), .registable1 .tasks_table.stable.ver tbody td:nth-child(4){
    width: 181px;
}
.registable1 .tasks_table.stable.ver th:nth-child(5), .registable1 .tasks_table.stable.ver tbody td:nth-child(5){
    width: 99px;
}
.registable1 .tasks_table.stable.ver th:nth-child(6), .registable1 .tasks_table.stable.ver tbody td:nth-child(6){
    width: 101px;
}
.registable1 .tasks_table.stable.ver th:nth-child(7), .registable1 .tasks_table.stable.ver tbody td:nth-child(7){
    width: 90px;
}
.registable1 .tasks_table.stable.ver th:nth-child(8), .registable1 .tasks_table.stable.ver tbody td:nth-child(8){
    width: 111px;
}
.registable1 .tasks_table.stable.ver th:nth-child(9), .registable1 .tasks_table.stable.ver tbody td:nth-child(9){
    width: 120px;
}
.registable1 .tasks_table.stable.ver th:nth-child(10), .registable1 .tasks_table.stable.ver tbody td:nth-child(10){
    width: 155px;
}
.registable1 .tasks_table.stable.ver th:nth-child(11), .registable1 .tasks_table.stable.ver tbody td:nth-child(11){
    width: 145px;
}
.registable1 .tasks_table.stable.ver th:nth-child(12), .registable1 .tasks_table.stable.ver tbody td:nth-child(12){
    width: 121px;
}
.registable1 .tasks_table.stable.ver th:nth-child(13), .registable1 .tasks_table.stable.ver tbody td:nth-child(13){
    width: 135px;
}
.registable1 .tasks_table.stable.ver th:nth-child(14), .registable1 .tasks_table.stable.ver tbody td:nth-child(14){
    width: 103px;
}
.registable1 .tasks_table.stable.ver th:nth-child(15), .registable1 .tasks_table.stable.ver tbody td:nth-child(15){
    width: 118px;
}
.registable1 .tasks_table.stable.ver th:nth-child(16), .registable1 .tasks_table.stable.ver tbody td:nth-child(16){
    width: 126px;
}
.registable1 .tasks_table.stable.ver th:nth-child(17), .registable1 .tasks_table.stable.ver tbody td:nth-child(17){
    width: 126px;
}
.registable1 .tasks_table.stable.ver th:nth-child(18), .registable1 .tasks_table.stable.ver tbody td:nth-child(18){
    width: 120px;
}
.registable1 .tasks_table.stable.ver th:nth-child(19), .registable1 .tasks_table.stable.ver tbody td:nth-child(19){
    width: 131px;
}
.registable1 .tasks_table.stable.ver th:nth-child(20), .registable1 .tasks_table.stable.ver tbody td:nth-child(20){
    width: 150px;
}
.registable1 .tasks_table.stable.ver th:nth-child(21), .registable1 .tasks_table.stable.ver tbody td:nth-child(21){
    width: 155px;
}
.registable1 .tasks_table.stable.ver th:nth-child(22), .registable1 .tasks_table.stable.ver tbody td:nth-child(22){
    width: 121px;
}
.registable1 .tasks_table.stable.ver th:nth-child(23), .registable1 .tasks_table.stable.ver tbody td:nth-child(23){
    width: 167px;
}

.hodinfo_subheaderbox.regis-theme {
    min-width: 1182px;
}

.mright-189{
    margin-right: 189px;
}
.stselect.width451, .stselect.width451 ul {
    width: 451px;
}
.hodfilter.regis-theme {
    height: 106px;
}
.regis-theme .hodfilter_box {
    justify-content: center;
}
.formdemandtable1.registable2 .auditinfo_table.stable.ver th {
    height: 44px;
}
.formdemandtable1.registable2 .auditinfo_table.stable.ver tbody td {
    height: 36px;
}
.formdemandtable1.registable2 .auditinfo_table.stable.ver th:nth-child(1),
.formdemandtable1.registable2 .auditinfo_table.stable.ver tbody td:nth-child(1){
    width: 54px;
}
.formdemandtable1.registable2 .auditinfo_table.stable.ver th:nth-child(2),
.formdemandtable1.registable2 .auditinfo_table.stable.ver tbody td:nth-child(2){
    width: 487px;
}
.formdemandtable1.registable2 .auditinfo_table.stable.ver th:nth-child(3),
.formdemandtable1.registable2 .auditinfo_table.stable.ver tbody td:nth-child(3){
    width: 436px;
}
.regislink {
    color: #2270e4;
    font-family: 'Proxima Nova Semibold';
    font-size: 18px;
    outline: 0;
}
.regislink:hover {
    text-decoration: none;
    color: #2270e4;
}
.account_btn.discussion_btn.regis_btn {
    width:311px;
}
.prepatable1.edinstable .stable.ver.tasks_table th {
    height: 60px;
}
.prepatable1.edinstable .stable.ver.tasks_table tbody td {
    height: 42px;
}
.prepatable1.edinstable .stable.ver.tasks_table th:nth-child(1), .prepatable1.edinstable .stable.ver.tasks_table tbody td:nth-child(1){
    width: 66px;
}
.prepatable1.edinstable .stable.ver.tasks_table th:nth-child(2), .prepatable1.edinstable .stable.ver.tasks_table tbody td:nth-child(2){
    width: 88px;
}
.prepatable1.edinstable .stable.ver.tasks_table th:nth-child(3), .prepatable1.edinstable .stable.ver.tasks_table tbody td:nth-child(3){
    width: 170px;
}
.prepatable1.edinstable .stable.ver.tasks_table th:nth-child(4), .prepatable1.edinstable .stable.ver.tasks_table tbody td:nth-child(4){
    width: 213px;
}
.prepatable1.edinstable .stable.ver.tasks_table th:nth-child(5), .prepatable1.edinstable .stable.ver.tasks_table tbody td:nth-child(5){
    width: 469px;
}
.stselect.width473, .stselect.width473 ul {
    width:473px;
}
.normabasetable.audacttable.coursestable .stable.ver.tasks_table {
    min-width: 1917px;
}
.normabasetable.audacttable.coursestable .stable.ver.tasks_table tr:first-child th {
    width: unset;
}
.normabasetable.audacttable.coursestable .stable.ver.tasks_table tr:first-child th:nth-child(1), .normabasetable.audacttable.coursestable .stable.ver.tasks_table tbody td:nth-child(1){
    width: 44px;
}
.normabasetable.audacttable.coursestable .stable.ver.tasks_table tr:first-child th:nth-child(2) {
    border-bottom: none;
}
.normabasetable.audacttable.coursestable .stable.ver.tasks_table tr:first-child th:nth-child(2), .normabasetable.audacttable.coursestable .stable.ver.tasks_table tbody td:nth-child(2){
    width: 130px;
}
.normabasetable.audacttable.coursestable .stable.ver.tasks_table tr:first-child th:nth-child(3), .normabasetable.audacttable.coursestable .stable.ver.tasks_table tbody td:nth-child(3){
    width: 99px;
}
.normabasetable.audacttable.coursestable .stable.ver.tasks_table tr:first-child th:nth-child(4), .normabasetable.audacttable.coursestable .stable.ver.tasks_table tbody td:nth-child(4){
    width: 208px;
}

.normabasetable.audacttable.coursestable .stable.ver.tasks_table tr:nth-child(2) th:nth-child(1), .normabasetable.audacttable.coursestable .stable.ver.tasks_table tbody td:nth-child(5){
    width: 241px;
}

.normabasetable.audacttable.coursestable .stable.ver.tasks_table tr:nth-child(2) th:nth-child(2), .normabasetable.audacttable.coursestable .stable.ver.tasks_table tbody td:nth-child(6){
    width: 119px;
}
.normabasetable.audacttable.coursestable .stable.ver.tasks_table tr:first-child th:nth-child(6), .normabasetable.audacttable.coursestable .stable.ver.tasks_table tbody td:nth-child(7){
    width: 300px;
}
.normabasetable.audacttable.coursestable .stable.ver.tasks_table tr:nth-child(2) th:nth-child(3), .normabasetable.audacttable.coursestable .stable.ver.tasks_table tbody td:nth-child(8){
    width: 346px;
}
.normabasetable.audacttable.coursestable .stable.ver.tasks_table tr:nth-child(2) th:nth-child(4), .normabasetable.audacttable.coursestable .stable.ver.tasks_table tbody td:nth-child(9){
    width: 148px;
}
.normabasetable.audacttable.coursestable .stable.ver.tasks_table tr:first-child th:nth-child(8), .normabasetable.audacttable.coursestable .stable.ver.tasks_table tbody td:nth-child(10){
    width: 175px;
}
.normabasetable.audacttable.coursestable .stable.ver.tasks_table tr:first-child th:nth-child(9), .normabasetable.audacttable.coursestable .stable.ver.tasks_table tbody td:nth-child(11){
    width: 103px;
}
.normabasetable.audacttable.coursestable .stable.ver.tasks_table tr:first-child th:nth-child(10), .normabasetable.audacttable.coursestable .stable.ver.tasks_table tbody td:nth-child(12){
    width: 127px;
}
.normabasetable.coursestable .tasks_table.stable.ver {
    width: unset;
}
.normabasetable.coursestable .tasks_table.stable.ver th {
    padding-right: 20px !important;
}
.normabasetable .tasks_table.stable.ver tr:first-child th.aligncenter {
    padding-top: 6px;
    vertical-align: top;
}
.annualtails {
    height: 72px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
}
.anualtableleft td, .anualtableright td {
    height: 40px;
    vertical-align: middle;
}
.tidetails .anualtableleft {
    margin-right: 24px;
    width: 208px;
}
.anualtableleft td:first-child{
    width: 42px;
}
.anualtableleft td:last-child, .anualtableleft .stselect, .anualtableleft .stselect ul{
    width: 167px;
}
.tidetails .anualtableright {
    width: 193px;
}
.anualtableright td:first-child{
    width: 68px;
}
.anualtableright td:last-child{
    width: 128px;
}
.inputbox.vert {
    display: flex;
    flex-direction: column;
}
.verticallabel {
    flex-wrap: nowrap;
}
.verticallabel span {
    margin-right: 21px;
}
.account_input.crerinput.input160.verticallabel {
    width:unset;
}
.account_input.crerinput.input160.verticallabel input {
    width: 166px;
}
.account_input.crerinput.input160.verticallabel .graphfilter_calendar {
    top: 48%;
}
.fatitle {
    margin-bottom: 10px;
}

.plancoursestable .stable.ver th:nth-child(1),.plancoursestable .stable.ver tbody td:nth-child(1) {
    width: 288px;
}
.plancoursestable .stable.ver th:nth-child(2),.plancoursestable .stable.ver tbody td:nth-child(2) {
    width: 160px;
}
.plancoursestable .stable.ver th:nth-child(3),.plancoursestable .stable.ver tbody td:nth-child(3) {
    width: auto;
}
.plancoursestable  .subline td:first-child {
    padding-left: 82px;
}
.stable_box.ver.hoditable2.plancoursestable th {
    height: 42px;
}
.stable_box.ver.hoditable2.plancoursestable td {
    height: 39px;
}

.prepatable1.listenersgrouptable .stable.ver.tasks_table th:nth-child(1), .prepatable1.listenersgrouptable .stable.ver.tasks_table tbody td:nth-child(1) {
    width: 82px;
}
.prepatable1.listenersgrouptable .stable.ver.tasks_table th:nth-child(2), .prepatable1.listenersgrouptable .stable.ver.tasks_table tbody td:nth-child(2) {
    width: 260px;
}
.prepatable1.listenersgrouptable .stable.ver.tasks_table th:nth-child(3), .prepatable1.listenersgrouptable .stable.ver.tasks_table tbody td:nth-child(3) {
    width: auto;
}
.stable_box.ver.prepatable1.listenersgrouptable th {
    height: 42px;
}
.stable_box.ver.prepatable1.listenersgrouptable td,
.stable_box.ver.prepatable1.testresultstable td{
    height: 39px;
}

.prepatable1.actualcompositiontable .stable.ver.tasks_table th:nth-child(1), .prepatable1.actualcompositiontable .stable.ver.tasks_table tbody td:nth-child(1) {
    width: 64px;
}
.prepatable1.actualcompositiontable .stable.ver.tasks_table th:nth-child(2), .prepatable1.actualcompositiontable .stable.ver.tasks_table tbody td:nth-child(2) {
    width: 177px;
}
.prepatable1.actualcompositiontable .stable.ver.tasks_table th:nth-child(3), .prepatable1.actualcompositiontable .stable.ver.tasks_table tbody td:nth-child(3) {
    width: auto;
}
.prepatable1.actualcompositiontable .stable.ver.tasks_table th:nth-child(4), .prepatable1.actualcompositiontable .stable.ver.tasks_table tbody td:nth-child(4) {
    width: 184px;
}
.prepatable1.actualcompositiontable .stable.ver.tasks_table th:nth-child(5), .prepatable1.actualcompositiontable .stable.ver.tasks_table tbody td:nth-child(5) {
    width: 185px;
}

.stable_box.ver.prepatable1.actualcompositiontable th,
.stable_box.ver.prepatable1.listenerstable th,
.stable_box.ver.prepatable1.testresultstable th{
    height: 60px;
}
.stable_box.ver.prepatable1.actualcompositiontable td,
.stable_box.ver.prepatable1.listenerstable td{
    height: 42px;
}

.prepatable1.listenerstable .stable.ver.tasks_table th:nth-child(1), .prepatable1.listenerstable .stable.ver.tasks_table tbody td:nth-child(1) {
    width: 124px;
}
.prepatable1.listenerstable .stable.ver.tasks_table th:nth-child(2), .prepatable1.listenerstable .stable.ver.tasks_table tbody td:nth-child(2) {
    width: 82px;
}
.prepatable1.listenerstable .stable.ver.tasks_table th:nth-child(3), .prepatable1.listenerstable .stable.ver.tasks_table tbody td:nth-child(3) {
    width: 155px;
}
.prepatable1.listenerstable .stable.ver.tasks_table th:nth-child(4), .prepatable1.listenerstable .stable.ver.tasks_table tbody td:nth-child(4) {
    width: 102px;
}
.prepatable1.listenerstable .stable.ver.tasks_table th:nth-child(5), .prepatable1.listenerstable .stable.ver.tasks_table tbody td:nth-child(5) {
    width: auto;
}
.prepatable1.listenerstable .stable.ver.tasks_table th:nth-child(6), .prepatable1.listenerstable .stable.ver.tasks_table tbody td:nth-child(6) {
    width: 185px;
}

.prepatable1.testresultstable .stable.ver.tasks_table th:nth-child(1), .prepatable1.testresultstable .stable.ver.tasks_table tbody td:nth-child(1) {
    width: 64px;
}
.prepatable1.testresultstable .stable.ver.tasks_table th:nth-child(2), .prepatable1.testresultstable .stable.ver.tasks_table tbody td:nth-child(2) {
    width: auto;
}
.prepatable1.testresultstable .stable.ver.tasks_table th:nth-child(3), .prepatable1.testresultstable .stable.ver.tasks_table tbody td:nth-child(3) {
    width: 91px;
}
.prepatable1.testresultstable .stable.ver.tasks_table th:nth-child(4), .prepatable1.testresultstable .stable.ver.tasks_table tbody td:nth-child(4) {
    width: 125px;
}
.prepatable1.testresultstable .stable.ver.tasks_table th:nth-child(5), .prepatable1.testresultstable .stable.ver.tasks_table tbody td:nth-child(5) {
    width: 185px;
}
.creaform_subline .listenersfio input, .creaform_subline .listenersiin input{
    background-color: white;
    height: 40px;
}
.creaform_subline .listenersfio span, .creaform_subline .listenersiin span {
    font-size: 14px;
    font-family: Montserrat;
}
.listenersfio, .listenersfio input {
    width: 301px;
}
.listenersiin, .listenersiin input {
    width: 169px;
}
.stselect.listenerswp {
    margin-top: 20px;
}
.stselect.listenerswp, .stselect.listenerswp ul {
    width: 309px;
}
.stselect.listenerswp .stselect_name {
    top:-32px;
}
.documentcreate_modal .addviolancemodal_btn.listenersmodal_btn {
    width: 119px;
    margin-left: auto;
    margin-top: 20px;
}

.formdemandtable1.listenersmodal_table .auditinfo_table.stable.ver th:nth-child(1), .formdemandtable1.listenersmodal_table .auditinfo_table.stable.ver tbody td:nth-child(1) {
    width: 54px;
}
.formdemandtable1.listenersmodal_table .auditinfo_table.stable.ver th:nth-child(2), .formdemandtable1.listenersmodal_table .auditinfo_table.stable.ver tbody td:nth-child(2) {
    width: 342px;
}
.formdemandtable1.listenersmodal_table .auditinfo_table.stable.ver th:nth-child(3), .formdemandtable1.listenersmodal_table .auditinfo_table.stable.ver tbody td:nth-child(3) {
    width: 165px;
}
.formdemandtable1.listenersmodal_table .auditinfo_table.stable.ver th:nth-child(4), .formdemandtable1.listenersmodal_table .auditinfo_table.stable.ver tbody td:nth-child(4) {
    width: auto;
}

.formdemandtable1.listenersmodal_table .stable th {
    height: 44px;
}
.formdemandtable1.listenersmodal_table .stable td {
    height: 36px;
}

.prepatable1.reshedule-table .stable.ver.tasks_table th:nth-child(1), .prepatable1.reshedule-table .stable.ver.tasks_table tbody td:nth-child(1) {
    width: 208px;
}
.prepatable1.reshedule-table .stable.ver.tasks_table th:nth-child(2), .prepatable1.reshedule-table .stable.ver.tasks_table tbody td:nth-child(2) {
    width: 113px;
}
.prepatable1.reshedule-table .stable.ver.tasks_table th:nth-child(3), .prepatable1.reshedule-table .stable.ver.tasks_table tbody td:nth-child(3) {
    width: 109px;
}
.prepatable1.reshedule-table .stable.ver.tasks_table th:nth-child(4), .prepatable1.reshedule-table .stable.ver.tasks_table tbody td:nth-child(4) {
    width: 128px;
}
.prepatable1.reshedule-table .stable.ver.tasks_table th:nth-child(5), .prepatable1.reshedule-table .stable.ver.tasks_table tbody td:nth-child(5) {
    width: 113px;
}
.prepatable1.reshedule-table .stable.ver.tasks_table th:nth-child(6), .prepatable1.reshedule-table .stable.ver.tasks_table tbody td:nth-child(6) {
    width: 101px;
}
.prepatable1.reshedule-table .stable.ver.tasks_table th:nth-child(7), .prepatable1.reshedule-table .stable.ver.tasks_table tbody td:nth-child(7) {
    width: 99px;
}
.prepatable1.reshedule-table .stable.ver.tasks_table th:nth-child(8), .prepatable1.reshedule-table .stable.ver.tasks_table tbody td:nth-child(8) {
    width: 133px;
}
.stable_box.ver.prepatable1.reshedule-table th{
    height: 76px;
}
.stable_box.ver.prepatable1.reshedule-table td{
    height: 39px;
}
