.tasks_select.active.disabled {
    background-color: #dfdfdf;
    pointer-events: none;
}
.creaform_subline.vert-theme {
    align-items: flex-start;
}
.irrequirementstable .stable.ver.tasks_table th {
    height: 66px;
}
.irrequirementstable .stable.ver.tasks_table tbody td {
    height: 42px;
}
.irrequirementstable .stable.ver.tasks_table th:nth-child(1), .irrequirementstable .stable.ver.tasks_table tbody td:nth-child(1) {
    width: 58px;
}
.irrequirementstable .stable.ver.tasks_table th:nth-child(2), .irrequirementstable .stable.ver.tasks_table tbody td:nth-child(2) {
    width: 109px;
}
.irrequirementstable .stable.ver.tasks_table th:nth-child(3), .irrequirementstable .stable.ver.tasks_table tbody td:nth-child(3) {
    width: 117px;
}
.irrequirementstable .stable.ver.tasks_table th:nth-child(4), .irrequirementstable .stable.ver.tasks_table tbody td:nth-child(4) {
    width: 137px;
}
.irrequirementstable .stable.ver.tasks_table th:nth-child(5), .irrequirementstable .stable.ver.tasks_table tbody td:nth-child(5) {
    width: 147px;
}
.irrequirementstable .stable.ver.tasks_table th:nth-child(6), .irrequirementstable .stable.ver.tasks_table tbody td:nth-child(6) {
    width: 140px;
}
.irrequirementstable .stable.ver.tasks_table th:nth-child(7), .irrequirementstable .stable.ver.tasks_table tbody td:nth-child(7) {
    width: 154px;
}
.irrequirementstable .stable.ver.tasks_table th:nth-child(8), .irrequirementstable .stable.ver.tasks_table tbody td:nth-child(8) {
    width: 140px;
}

.irinfosourcestable .stable.ver.tasks_table th:nth-child(1), .irinfosourcestable .stable.ver.tasks_table tbody td:nth-child(1) {
    width: 70px;
    padding-left: 17px;
}
.irinfosourcestable .stable.ver.tasks_table th:nth-child(2), .irinfosourcestable .stable.ver.tasks_table tbody td:nth-child(2) {
    width: 45px;
}
.irinfosourcestable .stable.ver.tasks_table th:nth-child(3), .irinfosourcestable .stable.ver.tasks_table tbody td:nth-child(3) {
    width: auto;
}

.inreqexecutortable .stable.ver.tasks_table th:nth-child(1), .inreqexecutortable .stable.ver.tasks_table tbody td:nth-child(1) {
    width: 55px;
    padding-left: 20px;
}
.inreqexecutortable .stable.ver.tasks_table th:nth-child(2), .inreqexecutortable .stable.ver.tasks_table tbody td:nth-child(2) {
    width: auto;
}
.inreqexecutortable .stable.ver.tasks_table th:nth-child(3), .inreqexecutortable .stable.ver.tasks_table tbody td:nth-child(3) {
    width: 230px;
}
.inreqexecutortable .stable.ver.tasks_table th:nth-child(4), .inreqexecutortable .stable.ver.tasks_table tbody td:nth-child(4) {
    width: 223px;
}
.account_input.width-751 input {
    width: 751px;
}
.creaform_line .account_input.date.width-349 input, .creaform_line .crerinput.date.width-349{
    width: 349px;
}


.cretable1.modalgaosearchresultstable .stable.ver.auditinfo_table th {
    height: 51px;
    padding-left: 0;
    vertical-align: middle;
}
.cretable1.modalgaosearchresultstable .stable.ver.auditinfo_table th:nth-child(1), .cretable1.modalgaosearchresultstable .stable.ver.auditinfo_table td:nth-child(1) {
    width: 62px;
    padding-left: 16px;
    border-right:2px solid #e8e8e8;
}
.cretable1.modalgaosearchresultstable .stable.ver.auditinfo_table th:nth-child(2), .cretable1.modalgaosearchresultstable .stable.ver.auditinfo_table td:nth-child(2) {
    width: auto;
    padding-left: 16px;
    border-right:2px solid #e8e8e8;
}
.cretable1.modalgaosearchresultstable .stable.ver.auditinfo_table th:nth-child(3), .cretable1.modalgaosearchresultstable .stable.ver.auditinfo_table td:nth-child(3) {
    width: 152px;
    padding-left: 16px;
    border-right:2px solid #e8e8e8;
}
.cretable1.modalgaosearchresultstable .stable.ver.auditinfo_table th:nth-child(4), .cretable1.modalgaosearchresultstable .stable.ver.auditinfo_table td:nth-child(4) {
    width: 352px;
    padding-left: 16px;
}
.mt-37 {
    margin-top: 37px !important;
}
.account_input.crerinput.width-600 input {
    width: 600px;
}

.gosauditobjecteptable .stable.ver.tasks_table th:nth-child(1), .gosauditobjecteptable .stable.ver.tasks_table tbody td:nth-child(1) {
    width: 115px;
}
.gosauditobjecteptable .stable.ver.tasks_table th:nth-child(2), .gosauditobjecteptable .stable.ver.tasks_table tbody td:nth-child(2) {
    width: 262px;
}
.gosauditobjecteptable .stable.ver.tasks_table th:nth-child(3), .gosauditobjecteptable .stable.ver.tasks_table tbody td:nth-child(3) {
    width: 140px;
}
.gosauditobjecteptable .stable.ver.tasks_table th:nth-child(4), .gosauditobjecteptable .stable.ver.tasks_table tbody td:nth-child(4) {
    width: 122px;
}
.gosauditobjecteptable .stable.ver.tasks_table th:nth-child(5), .gosauditobjecteptable .stable.ver.tasks_table tbody td:nth-child(5) {
    width: 174px;
}
.gosauditobjecteptable .stable.ver.tasks_table th:nth-child(6), .gosauditobjecteptable .stable.ver.tasks_table tbody td:nth-child(6) {
    width: 190px;
}

.epdirectionstable .stable.ver.tasks_table th:nth-child(1), .epdirectionstable .stable.ver.tasks_table tbody td:nth-child(1) {
    width: 95px;
}
.epdirectionstable .stable.ver.tasks_table th:nth-child(2), .epdirectionstable .stable.ver.tasks_table tbody td:nth-child(2) {
    width: 331px;
}
.epdirectionstable .stable.ver.tasks_table th:nth-child(3), .epdirectionstable .stable.ver.tasks_table tbody td:nth-child(3) {
    width: 213px;
}
.epdirectionstable .stable.ver.tasks_table th:nth-child(4), .epdirectionstable .stable.ver.tasks_table tbody td:nth-child(4) {
    width: auto;
}

.fgetable.cq-theme .stable.ver.auditinfo_table th:nth-child(1), .fgetable.cq-theme .stable.ver.auditinfo_table tbody td:nth-child(1) {
    width: 43px;
}
.fgetable.cq-theme .stable.ver.auditinfo_table th:nth-child(2), .fgetable.cq-theme .stable.ver.auditinfo_table tbody td:nth-child(2) {
    width: 238px;
}
.fgetable.cq-theme .stable.ver.auditinfo_table th:nth-child(3), .fgetable.cq-theme .stable.ver.auditinfo_table tbody td:nth-child(3) {
    width: 295px;
}
.fgetable.cq-theme .stable.ver.auditinfo_table th:nth-child(4), .fgetable.cq-theme .stable.ver.auditinfo_table tbody td:nth-child(4) {
    width: 96px;
}
.fgetable.cq-theme .stable.ver.auditinfo_table th:nth-child(5), .fgetable.cq-theme .stable.ver.auditinfo_table tbody td:nth-child(5) {
    width: 90px;
}
.fgetable.cq-theme .stable.ver.auditinfo_table th:nth-child(6), .fgetable.cq-theme .stable.ver.auditinfo_table tbody td:nth-child(6) {
    width: 184px;
}

.documentcreate_modal .fgetable .account_btn {
    width: unset;
    padding: 11px 15px;
}

.gosauditorsmodaltable .stable.ver.tasks_table th:nth-child(1), .gosauditorsmodaltable .stable.ver.tasks_table tbody td:nth-child(1) {
    width: auto;
}
.gosauditorsmodaltable .stable.ver.tasks_table th:nth-child(2), .gosauditorsmodaltable .stable.ver.tasks_table tbody td:nth-child(2) {
    width: 397px;
}
.account_btn.discussion_btn.w-155 {
    width: 155px;
}
.account_input.crerinput.h-99 textarea {
    height: 99px;
}
.margin-15 {
    margin-right: -15px;
}
.tidetails.modau_taskt .tidetails_table.expert-opinion-theme{
    width: 168px;
}
.tidetails.modau_taskt .tidetails_table.expert-opinion-theme td:nth-child(1) {
    width:61px;
}
.formexpertopiniontable.formplanprogtable2.formauditconclusiontable1 .tasks_table.stable.ver th:nth-child(1), .formexpertopiniontable.formplanprogtable2.formauditconclusiontable1 .tasks_table.stable.ver tbody td:nth-child(1){
    width: 108px;
}
.formexpertopiniontable.formplanprogtable2.formauditconclusiontable1 .tasks_table.stable.ver tbody td{
    height: 42px;
}
.formexpertopiniontable.formplanprogtable2.formauditconclusiontable1 .tasks_table.stable.ver tbody td:nth-child(2) {
    text-align: center;
}
.cretable1.modaladddatainstrecomtable .stable.ver.auditinfo_table th {
    padding-top: 0;
    vertical-align: middle;
}
.cretable1.modaladddatainstrecomtable .stable.ver.auditinfo_table th:nth-child(1), .cretable1.modaladddatainstrecomtable .stable.ver.auditinfo_table td:nth-child(1){
    width: 182px;
}
.cretable1.modaladddatainstrecomtable .stable.ver.auditinfo_table th:nth-child(2), .cretable1.modaladddatainstrecomtable .stable.ver.auditinfo_table td:nth-child(2){
    width: auto;
}
.resregtable .stable.ver.tasks_table th:nth-child(1), .resregtable .stable.ver.tasks_table tbody td:nth-child(1){
    width: 53px;
}
.resregtable .stable.ver.tasks_table th:nth-child(2), .resregtable .stable.ver.tasks_table tbody td:nth-child(2){
    width: 99px;
}
.resregtable .stable.ver.tasks_table th:nth-child(3), .resregtable .stable.ver.tasks_table tbody td:nth-child(3){
    width: 100px;
}
.resregtable .stable.ver.tasks_table th:nth-child(4), .resregtable .stable.ver.tasks_table tbody td:nth-child(4){
    width: 122px;
}
.resregtable .stable.ver.tasks_table th:nth-child(5), .resregtable .stable.ver.tasks_table tbody td:nth-child(5){
    width: auto;
}
.resregtable .stable.ver.tasks_table th:nth-child(6), .resregtable .stable.ver.tasks_table tbody td:nth-child(6){
    width: 129px;
}
.resregtable .stable.ver.tasks_table th:nth-child(7), .resregtable .stable.ver.tasks_table tbody td:nth-child(7){
    width: 141px;
}
.resregtable .stable.ver.tasks_table th:nth-child(8), .resregtable .stable.ver.tasks_table tbody td:nth-child(8){
    width: 132px;
}
.resregtable .stable.ver.tasks_table tbody td {
    height: 42px;
}
.hodfilter.rrcfilter {
    height: 88px;
}
.rrcfilter .subtitle {
    color: #3E2458;
    font-family: "Montserrat", serif;
    font-size: 16px;
    margin-bottom:0;
    margin-right: 12px;
}

.rrcfilter .form_radio label {
    font-size: 16px;
    font-family: "Proxima Nova Rg";
    line-height: normal;
    margin-bottom: 0;
}
.rrcfilter .form_radio {
    display: flex;
}
