.directoynametable .stable.ver th:not(:first-child), .directoynametable .stable.ver tbody td:not(:first-child) {
    padding-left: 0;
}
.directoynametable .stable.ver th:nth-child(1), .directoynametable .stable.ver tbody td:nth-child(1) {
    width: 96px;
    padding-left: 30px;
}
.directoynametable .stable.ver th:nth-child(2), .directoynametable .stable.ver tbody td:nth-child(2) {
    width: 106px;
}
.directoynametable .stable.ver th:nth-child(3), .directoynametable .stable.ver tbody td:nth-child(3) {
    width: 311px;
}
.directoynametable .stable.ver th:nth-child(4), .directoynametable .stable.ver tbody td:nth-child(4) {
    width: 167px;
}
.directoynametable .stable.ver th:nth-child(5), .directoynametable .stable.ver tbody td:nth-child(5) {
    width: auto;
}

.mod-pagination {
    margin-top: 138px;
}
.mod-pagination, .mod-pagination_settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mod-pagination_item {
    display: block;
    width: 41px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    color: #000000;
    font-family: "Proxima Nova Rg";
    font-size: 16px;
}
.mod-pagination_item:hover {
    background-color: #f5f5f5;
    outline: 0;
    opacity: 0.90;
    color: #000000;
    text-decoration: none;
}
.mod-pagination_item.active {
    background-color: #f5f5f5;
}
.mod-pagination_selectname, .mod-pagination_selectblock li > p {
    color: #000000;
    font-family: "Proxima Nova Rg";
    font-size: 16px;
}
.mod-pagination_selectblock, .mod-pagination_selectblock ul {
    width: 96px;
}

.searchtable.auditobjectstable .stable.ver th:not(:last-child), .searchtable.auditobjectstable .stable.ver tbody td:not(:last-child){
    padding-right: 0 !important;
}
.searchtable.auditobjectstable .stable.ver th:nth-child(1), .searchtable.auditobjectstable .stable.ver tbody td:nth-child(1) {
    width: 50px;
    padding-left: 10px;
}
.searchtable.auditobjectstable .stable.ver th:nth-child(2), .searchtable.auditobjectstable .stable.ver tbody td:nth-child(2) {
    width: 150px;
    padding-left: 10px;
}
.searchtable.auditobjectstable .stable.ver th:nth-child(3), .searchtable.auditobjectstable .stable.ver tbody td:nth-child(3) {
    width: 82px;
}
.searchtable.auditobjectstable .stable.ver th:nth-child(4), .searchtable.auditobjectstable .stable.ver tbody td:nth-child(4) {
    width: 167px;
}
.searchtable.auditobjectstable .stable.ver th:nth-child(5), .searchtable.auditobjectstable .stable.ver tbody td:nth-child(5) {
    width: 144px;
}
.searchtable.auditobjectstable .stable.ver th:nth-child(6), .searchtable.auditobjectstable .stable.ver tbody td:nth-child(6) {
    width: 143px;
}
.searchtable.auditobjectstable .stable.ver th:nth-child(7), .searchtable.auditobjectstable .stable.ver tbody td:nth-child(7) {
    width: 126px;
}
.searchtable.auditobjectstable .stable.ver th:nth-child(8), .searchtable.auditobjectstable .stable.ver tbody td:nth-child(8) {
    width: 132px;
    padding-right: 10px !important;
}
.account_input.crerinput.withdateicon {
    position: relative;
}

.searchtable .stable.ver .account_input.crerinput.withdateicon input {
    padding-left: 10px;
}
.account_input.crerinput.withdateicon  a{
    position: absolute;
}
.account_input.crerinput.inputwidth341 input{
    width: 341px;
}
.dmline {
    display: flex;
    justify-content: space-between;
}
.dmcol {
    width: 488px;
}
.dmcol  .account_input.crerinput {
    align-items: unset;
}
.crerinput .account_btn.discussion_btn.dmobject_btn {
    width: 135px;
}
.dmlighttable td {
    padding-bottom: 12px;
}
.dmlighttable td:first-child{
    color: #000000;
    font-family: "Proxima Nova Semibold";
    font-size: 16px;
    vertical-align: top;
}
.dmlighttable td:last-child {
    color: #000000;
    font-family: "Proxima Nova Rg";
    font-size: 16px;
    vertical-align: top;
}
.dmlighttable.editoctable1 td:first-child{
    width: 295px;
}
.dmlighttable.editoctable2 td:first-child{
    width: 342px;
}
.dmlighttable.editoctable3 td:first-child{
    width: 136px;
}
.dmlighttable.editoctable4 td:first-child{
    width: 237px;
}
.dmobjecttextarea_80 textarea {
    height: 80px;
    resize: none;
}
.crerinput.datareqinput1.dmobjectinput_50 input {
    width: 100%;
}
.account_input.crerinput.dmobject-theme{
    width: 486px;
    align-items: unset;
}
.dmocmodalinput1, .dmocmodalinput1 input {
    width: 288px;
}
.dmocmodalinput2, .dmocmodalinput2 input {
    width: 222px;
}
.dmocmodalinput3, .dmocmodalinput3 input {
    width: 264px;
}
.dmocmodalinput1 input, .dmocmodalinput2 input, .dmocmodalinput3 input {
    background-color: white;
}
.formdemandtable1.dmobjectmodalokedtable .auditinfo_table.stable.ver th:nth-child(1), .formdemandtable1.dmobjectmodalokedtable .auditinfo_table.stable.ver tbody td:nth-child(1) {
    width: 254px;
}
.formdemandtable1.dmobjectmodalokedtable .auditinfo_table.stable.ver th:nth-child(2), .formdemandtable1.dmobjectmodalokedtable .auditinfo_table.stable.ver tbody td:nth-child(2) {
    width: 170px;
}
.formdemandtable1.dmobjectmodalokedtable .auditinfo_table.stable.ver th:nth-child(3), .formdemandtable1.dmobjectmodalokedtable .auditinfo_table.stable.ver tbody td:nth-child(3) {
    width: auto;
}

.dmobjectmodallocationareatable .stable.ver th:nth-child(1), .dmobjectmodallocationareatable .stable.ver tbody td:nth-child(1) {
    width: 294px;
    padding-left: 21px;
}
.dmobjectmodallocationareatable .stable.ver th:nth-child(2), .dmobjectmodallocationareatable .stable.ver tbody td:nth-child(2) {
    width: auto;
}
.dmobjectmodallocationareatable .stable.ver th, .dmobjectmodallocationareatable .stable.ver tbody td {
    padding-left: 0;
}
.dmobjectmodallocationregiontable .stable.ver th:nth-child(1), .dmobjectmodallocationregiontable .stable.ver tbody td:nth-child(1){
    width: auto;
    padding-left: 28px;
}
.searchtable.npadoctypetable .stable.ver th {
    height: 49px;
}
.searchtable.npadoctypetable .stable.ver th:nth-child(1), .searchtable.npadoctypetable .stable.ver tbody td:nth-child(1){
    width: 77px;
}
.searchtable.npadoctypetable .stable.ver th:nth-child(2), .searchtable.npadoctypetable .stable.ver tbody td:nth-child(2){
    width: 421px;
}
.searchtable.npadoctypetable .stable.ver th:nth-child(3), .searchtable.npadoctypetable .stable.ver tbody td:nth-child(3){
    width: 139px;
}
.searchtable.npadoctypetable .stable.ver th:nth-child(4), .searchtable.npadoctypetable .stable.ver tbody td:nth-child(4){
    width: auto;
}
.hodfilter.audact-theme .stselect.large.width-470, .hodfilter.audact-theme .stselect.large.width-470 ul {
    width: 470px;
}

.searchtable.npamethtable .stable.ver th:nth-child(1), .searchtable.npamethtable .stable.ver tbody td:nth-child(1){
    width: 48px;
}
.searchtable.npamethtable .stable.ver th:nth-child(2), .searchtable.npamethtable .stable.ver tbody td:nth-child(2){
    width: 195px;
}
.searchtable.npamethtable .stable.ver th:nth-child(3), .searchtable.npamethtable .stable.ver tbody td:nth-child(3){
    width: 160px;
}
.searchtable.npamethtable .stable.ver th:nth-child(4), .searchtable.npamethtable .stable.ver tbody td:nth-child(4){
    width: 122px;
}
.searchtable.npamethtable .stable.ver th:nth-child(5), .searchtable.npamethtable .stable.ver tbody td:nth-child(5){
    width: 120px;
}
.searchtable.npamethtable .stable.ver th:nth-child(6), .searchtable.npamethtable .stable.ver tbody td:nth-child(6){
    width: 100px;
}
.searchtable.npamethtable .stable.ver tbody td:nth-child(6) {
    padding-left: 7px;
}
.searchtable.npamethtable .stable.ver th:nth-child(7), .searchtable.npamethtable .stable.ver tbody td:nth-child(7){
    width: 130px;
}
.searchtable.npamethtable .stable.ver th:nth-child(8), .searchtable.npamethtable .stable.ver tbody td:nth-child(8){
    width: 127px;
}
.searchtable.npamethtable .stable.ver th {
    height: 61px;
}
.checkbox-block_item{
    height: 50px;
    display: flex;
    align-items: center;
}
.creaform_line.valign-top {
    align-items: baseline;
}

.searchtable.auditobjectivestable .stable.ver th:nth-child(1), .searchtable.auditobjectivestable .stable.ver tbody td:nth-child(1){
    width: 76px;
}
.searchtable.auditobjectivestable .stable.ver th:nth-child(2), .searchtable.auditobjectivestable .stable.ver tbody td:nth-child(2){
    width: 202px;
}
.searchtable.auditobjectivestable .stable.ver th:nth-child(3), .searchtable.auditobjectivestable .stable.ver tbody td:nth-child(3){
    width: auto;
}
.searchtable.auditobjectivestable .stable.ver th:nth-child(4), .searchtable.auditobjectivestable .stable.ver tbody td:nth-child(4){
    width: 140px;
}
.searchtable.auditobjectivestable .stable.ver th:nth-child(5), .searchtable.auditobjectivestable .stable.ver tbody td:nth-child(5){
    width: 139px;
}
.searchtable.auditobjectivestable .stable.ver th {
    height: 49px;
}

.searchtable.documentlisttable .stable.ver th:nth-child(1), .searchtable.documentlisttable .stable.ver tbody td:nth-child(1){
    width: 61px;
}
.searchtable.documentlisttable .stable.ver th:nth-child(2), .searchtable.documentlisttable .stable.ver tbody td:nth-child(2){
    width: 570px;
    padding-right: 6px !important;
}
.searchtable.documentlisttable .stable.ver th:nth-child(3), .searchtable.documentlisttable .stable.ver tbody td:nth-child(3){
    width: 169px;
    padding-right: 6px !important;
}
.searchtable.documentlisttable .stable.ver th:nth-child(4), .searchtable.documentlisttable .stable.ver tbody td:nth-child(4){
    width: 182px;
    padding-right: 12px !important;
}
.hodfilter_line .checkbox  .checkbox_semibold15 {
    font-family: "Proxima Nova Semibold";
    font-size: 15px;
    user-select: none;
}
.checkquestionstable .stable.ver th:not(:nth-child(1)), .checkquestionstable .stable.ver tbody td:not(:nth-child(1)) {
    padding-left: 0;
}

.checkquestionstable .stable.ver th:nth-child(1), .checkquestionstable .stable.ver tbody td:nth-child(1) {
    width: 209px;
    padding-left: 17px;
}
.checkquestionstable .stable.ver tbody td.secondlvl:nth-child(1) {
    padding-left: 61px;
}
.checkquestionstable .stable.ver tbody td.thirdlvl:nth-child(1) {
    padding-left: 81px;
}
.checkquestionstable .stable.ver th:nth-child(2), .checkquestionstable .stable.ver tbody td:nth-child(2) {
    width: 238px;
}
.checkquestionstable .stable.ver th:nth-child(3), .checkquestionstable .stable.ver tbody td:nth-child(3) {
    width: 261px;
}
.checkquestionstable .stable.ver th:nth-child(4), .checkquestionstable .stable.ver tbody td:nth-child(4) {
    width: 140px;
}
.checkquestionstable .stable.ver th:nth-child(5), .checkquestionstable .stable.ver tbody td:nth-child(5) {
    width: 153px;
}
.normabasetable.audacttable.informationsourcestable .stable.ver.tasks_table tr:first-child th {
    height: 43px;
}
.normabasetable.audacttable.informationsourcestable .stable.ver.tasks_table tr:nth-child(2) th {
    height: 47px;
}
.normabasetable.audacttable.informationsourcestable .stable.ver.tasks_table tr:first-child th:nth-child(1), .normabasetable.audacttable.informationsourcestable .stable.ver.tasks_table tbody td:nth-child(1){
    width: 361px;
}

.normabasetable.audacttable.informationsourcestable .stable.ver.tasks_table tr:first-child th:nth-child(2) {
    width: auto;
}
.normabasetable.audacttable.informationsourcestable .stable.ver.tasks_table tr:nth-child(2) th:nth-child(1), .normabasetable.audacttable.informationsourcestable .stable.ver.tasks_table tbody td:nth-child(2) {
    width: 200px;
}

.normabasetable.audacttable.informationsourcestable .stable.ver.tasks_table tr:nth-child(2) th:nth-child(2), .normabasetable.audacttable.informationsourcestable .stable.ver.tasks_table tbody td:nth-child(3) {
    width: 206px;
}

.normabasetable.audacttable.informationsourcestable .stable.ver.tasks_table tr:first-child th:nth-child(4), .normabasetable.audacttable.informationsourcestable .stable.ver.tasks_table tbody td:nth-child(4){
    width: 110px;
}

.normabasetable.audacttable.informationsourcestable .stable.ver.tasks_table tr:first-child th:nth-child(5), .normabasetable.audacttable.informationsourcestable .stable.ver.tasks_table tbody td:nth-child(5){
    width: 125px;
}

.mright-75 {
    margin-right: 75px;
}
.hoditable2 .stable.ver th:not(:nth-child(1)), .hoditable2 .stable.ver tbody td:not(:nth-child(1)) {
    padding-left: unset;
}
.gaifytypestable .stable.ver th:nth-child(1), .gaifytypestable .stable.ver tbody td:nth-child(1) {
    width: 80px;
}
.gaifytypestable .stable.ver th:nth-child(2), .gaifytypestable .stable.ver tbody td:nth-child(2) {
    width: 229px;
}
.gaifytypestable .stable.ver th:nth-child(3), .gaifytypestable .stable.ver tbody td:nth-child(3) {
    width: auto;
}

.gaifkbodiestable .stable.ver th:nth-child(1), .gaifkbodiestable .stable.ver tbody td:nth-child(1)  {
    width: 81px;
}
.gaifkbodiestable .stable.ver th:nth-child(2), .gaifkbodiestable .stable.ver tbody td:nth-child(2)  {
    width: 290px;
}
.gaifkbodiestable .stable.ver th:nth-child(3), .gaifkbodiestable .stable.ver tbody td:nth-child(3)  {
    width: 337px;
}
.gaifkbodiestable .stable.ver th:nth-child(4), .gaifkbodiestable .stable.ver tbody td:nth-child(4)  {
    width: 140px;
}
.gaifkbodiestable .stable.ver th:nth-child(5), .gaifkbodiestable .stable.ver tbody td:nth-child(5)  {
    width: 153px;
}
.stselect.width-291, .stselect.width-291 ul {
    width: 291px;
}
.stselect.width-291 ul {
    left: -2px;
}

.criteriatypestable .stable.ver th:nth-child(1), .criteriatypestable .stable.ver tbody td:nth-child(1) {
    width: 89px;
}
.criteriatypestable .stable.ver th:nth-child(2), .criteriatypestable .stable.ver tbody td:nth-child(2) {
    width: auto;
}
.criteriatypestable .stable.ver th:nth-child(3), .criteriatypestable .stable.ver tbody td:nth-child(3) {
    width: 140px;
}
.criteriatypestable .stable.ver th:nth-child(4), .criteriatypestable .stable.ver tbody td:nth-child(4) {
    width: 153px;
}

.searchtable.externalfkexpertstable .stable.ver th:nth-child(1), .searchtable.externalfkexpertstable .stable.ver tbody td:nth-child(1) {
    width: 63px;
    padding-right: 0 !important;
}
.searchtable.externalfkexpertstable .stable.ver th:nth-child(2), .searchtable.externalfkexpertstable .stable.ver tbody td:nth-child(2) {
    width: 141px;
    padding-right: 6px !important;
}
.searchtable.externalfkexpertstable .stable.ver th:nth-child(3), .searchtable.externalfkexpertstable .stable.ver tbody td:nth-child(3) {
    width: 117px;
    padding-right: 4px !important;
}
.searchtable.externalfkexpertstable .stable.ver th:nth-child(4), .searchtable.externalfkexpertstable .stable.ver tbody td:nth-child(4) {
    width: 221px;
}
.searchtable.externalfkexpertstable .stable.ver th:nth-child(5), .searchtable.externalfkexpertstable .stable.ver tbody td:nth-child(5) {
    width: 107px;
    padding-right: 6px !important;
}
.searchtable.externalfkexpertstable .stable.ver th:nth-child(6), .searchtable.externalfkexpertstable .stable.ver tbody td:nth-child(6) {
    width: 148px;
    padding-right: 6px !important;
}
.searchtable.externalfkexpertstable .stable.ver th:nth-child(7), .searchtable.externalfkexpertstable .stable.ver tbody td:nth-child(7) {
    width: 184px;
    padding-right: 16px !important;
}
.externalfkorganizationstable .stable.ver th {
    vertical-align: top;
    padding-top: 7px;
}
.externalfkorganizationstable .stable.ver th:nth-child(1), .externalfkorganizationstable .stable.ver tbody td:nth-child(1){
    width: 149px;
}
.externalfkorganizationstable .stable.ver th:nth-child(2), .externalfkorganizationstable .stable.ver tbody td:nth-child(2){
    width: 160px;
}
.externalfkorganizationstable .stable.ver th:nth-child(3), .externalfkorganizationstable .stable.ver tbody td:nth-child(3){
    width: 162px;
}
.externalfkorganizationstable .stable.ver tbody td:nth-child(3) {
    padding-left: 40px;
}
.externalfkorganizationstable .stable.ver th:nth-child(4), .externalfkorganizationstable .stable.ver tbody td:nth-child(4){
    width: 97px;
}
.externalfkorganizationstable .stable.ver th:nth-child(5), .externalfkorganizationstable .stable.ver tbody td:nth-child(5){
    width: 150px;
}
.externalfkorganizationstable .stable.ver th:nth-child(6), .externalfkorganizationstable .stable.ver tbody td:nth-child(6){
    width: 130px;
}
.externalfkorganizationstable .stable.ver th:nth-child(7), .externalfkorganizationstable .stable.ver tbody td:nth-child(7){
    width: 153px;
}
.btn-40wh {
    width: 40px;
    height: 40px;
    padding: 0 !important;
}

.stable_box.ver.hoditable2 td.fourthlvl {
    padding-left: 102px;
}

.violationtypestable .stable.ver th:nth-child(1), .violationtypestable .stable.ver tbody td:nth-child(1) {
    width: 279px;
}
.violationtypestable .stable.ver th:nth-child(2), .violationtypestable .stable.ver tbody td:nth-child(2) {
    width: auto;
}
.violationtypestable .stable.ver th:nth-child(3), .violationtypestable .stable.ver tbody td:nth-child(3) {
    width: 140px;
}
.violationtypestable .stable.ver th:nth-child(4), .violationtypestable .stable.ver tbody td:nth-child(4) {
    width: 137px;
}
.stable_box.ver.hoditable2 td.spoiler.thirdlvl:before {
    left: 60px;
}

.searchtable.evwaystable .stable.ver th:nth-child(1), .searchtable.evwaystable .stable.ver tbody td:nth-child(1) {
    width: 67px;
}
.searchtable.evwaystable .stable.ver th:nth-child(2), .searchtable.evwaystable .stable.ver tbody td:nth-child(2) {
    width: 203px;
    padding-right: 6px !important;
}
.searchtable.evwaystable .stable.ver th:nth-child(3), .searchtable.evwaystable .stable.ver tbody td:nth-child(3) {
    width: auto;
    padding-right: 6px !important;
}
.searchtable.evwaystable .stable.ver th:nth-child(4), .searchtable.evwaystable .stable.ver tbody td:nth-child(4) {
    width: 164px;
    padding-right: 6px !important;
}
.searchtable.evwaystable .stable.ver th:nth-child(5), .searchtable.evwaystable .stable.ver tbody td:nth-child(5) {
    width: 185px;
    padding-right: 21px !important;
}
.dm-othrtviolationstable .stable.ver th:nth-child(1), .dm-othrtviolationstable .stable.ver tbody td:nth-child(1) {
    width: 80px;
}
.dm-othrtviolationstable .stable.ver th:nth-child(2), .dm-othrtviolationstable .stable.ver tbody td:nth-child(2) {
    width: 199px;
}
.dm-othrtviolationstable .stable.ver th:nth-child(3), .dm-othrtviolationstable .stable.ver tbody td:nth-child(3) {
    width: 203px;
}
.dm-othrtviolationstable .stable.ver th:nth-child(4), .dm-othrtviolationstable .stable.ver tbody td:nth-child(4) {
    width: 242px;
}
.dm-othrtviolationstable .stable.ver th:nth-child(5), .dm-othrtviolationstable .stable.ver tbody td:nth-child(5) {
    width: 140px;
}
.dm-othrtviolationstable .stable.ver th:nth-child(6), .dm-othrtviolationstable .stable.ver tbody td:nth-child(6) {
    width: 139px;
}
.crerinput.datareqinput1.evw-modalcombinput input {
    width: 315px;
}
.account_btn.discussion_btn.evw_btn {
    width: 135px;
    color: #FFF;
    font-family: Open Sans;
}

.evw-typeviolationstable .stable.ver th, .evw-typeviolationstable .stable.ver tbody td {
    width: 100%;
}

.searchtable.dm-violationclassifiertable .stable.ver th:nth-child(1), .searchtable.dm-violationclassifiertable .stable.ver tbody td:nth-child(1) {
    width: 66px;
}
.searchtable.dm-violationclassifiertable .stable.ver th:nth-child(2), .searchtable.dm-violationclassifiertable .stable.ver tbody td:nth-child(2) {
    width: 198px;
    padding-right: 6px !important;
}
.searchtable.dm-violationclassifiertable .stable.ver th:nth-child(3), .searchtable.dm-violationclassifiertable .stable.ver tbody td:nth-child(3) {
    width: 137px;
    padding-right: 6px !important;
}
.searchtable.dm-violationclassifiertable .stable.ver th:nth-child(4), .searchtable.dm-violationclassifiertable .stable.ver tbody td:nth-child(4) {
    width: 140px;
    padding-right: 6px !important;
}
.searchtable.dm-violationclassifiertable .stable.ver th:nth-child(5), .searchtable.dm-violationclassifiertable .stable.ver tbody td:nth-child(5) {
    width: 164px;
    padding-right: 6px !important;
}
.searchtable.dm-violationclassifiertable .stable.ver th:nth-child(6), .searchtable.dm-violationclassifiertable .stable.ver tbody td:nth-child(6) {
    width: 126px;
    padding-right: 6px !important;
}
.searchtable.dm-violationclassifiertable .stable.ver th:nth-child(7), .searchtable.dm-violationclassifiertable .stable.ver tbody td:nth-child(7) {
    width: 135px;
    padding-right: 9px !important;
}
.offensesqualificationtable .stable.ver th, .offensesqualificationtable .stable.ver tbody td{
    padding-right: 0 !important;
}
.offensesqualificationtable .stable.ver th:nth-child(1), .offensesqualificationtable .stable.ver tbody td:nth-child(1) {
    width: 265px;
}
.offensesqualificationtable .stable.ver th:nth-child(2), .offensesqualificationtable .stable.ver tbody td:nth-child(2) {
    width: 139px;
}
.offensesqualificationtable .stable.ver th:nth-child(3), .offensesqualificationtable .stable.ver tbody td:nth-child(3) {
    width: 99px;
}
.offensesqualificationtable .stable.ver th:nth-child(4), .offensesqualificationtable .stable.ver tbody td:nth-child(4) {
    width: 67px;
}
.offensesqualificationtable .stable.ver tbody td:nth-child(4){
    text-align: center;
}
.offensesqualificationtable .stable.ver th:nth-child(5), .offensesqualificationtable .stable.ver tbody td:nth-child(5) {
    width: 198px;
}
.offensesqualificationtable .stable.ver th:nth-child(6), .offensesqualificationtable .stable.ver tbody td:nth-child(6) {
    width: 116px;
}
.offensesqualificationtable .stable.ver th:nth-child(7), .offensesqualificationtable .stable.ver tbody td:nth-child(7) {
    width: 116px;
}
.radio-block {
    height: 50px;
    display: flex;
    align-items: center;
}

.searchtable.adminmeasurestable .stable.ver th:nth-child(1), .searchtable.adminmeasurestable .stable.ver tbody td:nth-child(1) {
    width: 66px;
}
.searchtable.adminmeasurestable .stable.ver th:nth-child(2), .searchtable.adminmeasurestable .stable.ver tbody td:nth-child(2) {
    width: 219px;
    padding-right: 6px !important;
}
.searchtable.adminmeasurestable .stable.ver th:nth-child(3), .searchtable.adminmeasurestable .stable.ver tbody td:nth-child(3) {
    width: 178px;
    padding-right: 6px !important;
}
.searchtable.adminmeasurestable .stable.ver th:nth-child(4), .searchtable.adminmeasurestable .stable.ver tbody td:nth-child(4) {
    width: 219px;
    padding-right: 6px !important;
}
.searchtable.adminmeasurestable .stable.ver th:nth-child(5), .searchtable.adminmeasurestable .stable.ver tbody td:nth-child(5) {
    width: 140px;
    padding-right: 6px !important;
}
.searchtable.adminmeasurestable .stable.ver th:nth-child(6), .searchtable.adminmeasurestable .stable.ver tbody td:nth-child(6) {
    width: 151px;
    padding-right: 9px !important;
}

.searchtable.admincasesdecisionstable .stable.ver th:nth-child(1), .searchtable.admincasesdecisionstable .stable.ver tbody td:nth-child(1){
    width: 64px;
}
.searchtable.admincasesdecisionstable .stable.ver th:nth-child(2), .searchtable.admincasesdecisionstable .stable.ver tbody td:nth-child(2){
    width: 140px;
    padding-right: 6px !important;
}
.searchtable.admincasesdecisionstable .stable.ver th:nth-child(3), .searchtable.admincasesdecisionstable .stable.ver tbody td:nth-child(3){
    width: 452px;
    padding-right: 6px !important;
}
.searchtable.admincasesdecisionstable .stable.ver th:nth-child(4), .searchtable.admincasesdecisionstable .stable.ver tbody td:nth-child(4){
    width: 150px;
    padding-right: 6px !important;
}
.searchtable.admincasesdecisionstable .stable.ver th:nth-child(5), .searchtable.admincasesdecisionstable .stable.ver tbody td:nth-child(5){
    width: 172px;
    padding-right: 17px !important;
}

.searchtable.admincasesdecisionstable.kabodytable .stable.ver th:nth-child(3), .searchtable.admincasesdecisionstable.kabodytable .stable.ver tbody td:nth-child(3){
    width: auto;
    padding-right: 17px !important;
}

.searchtable.rsaareastable .stable.ver th:nth-child(1), .searchtable.rsaareastable .stable.ver tbody td:nth-child(1){
    width: 60px;
}
.searchtable.rsaareastable .stable.ver th:nth-child(2), .searchtable.rsaareastable .stable.ver tbody td:nth-child(2){
    width: 225px;
    padding-right: 6px !important;
}
.searchtable.rsaareastable .stable.ver th:nth-child(3), .searchtable.rsaareastable .stable.ver tbody td:nth-child(3){
    width: 410px;
    padding-right: 6px !important;
}
.searchtable.rsaareastable .stable.ver th:nth-child(4), .searchtable.rsaareastable .stable.ver tbody td:nth-child(4){
    width: 136px;
    padding-right: 6px !important;
}
.searchtable.rsaareastable .stable.ver th:nth-child(5), .searchtable.rsaareastable .stable.ver tbody td:nth-child(5){
    width: 146px;
    padding-right: 13px !important;
}

.searchtable.districtstable .stable.ver th:nth-child(1), .searchtable.districtstable .stable.ver tbody td:nth-child(1){
    width: 286px;
}
.searchtable.districtstable .stable.ver th:nth-child(2), .searchtable.districtstable .stable.ver tbody td:nth-child(2){
    width: 410px;
    padding-right: 6px !important;
}
.searchtable.districtstable .stable.ver th:nth-child(3), .searchtable.districtstable .stable.ver tbody td:nth-child(3){
    width: 136px;
    padding-right: 6px !important;
}
.searchtable.districtstable .stable.ver th:nth-child(4), .searchtable.districtstable .stable.ver tbody td:nth-child(4){
    width: 146px;
    padding-right: 13px !important;
}

.searchtable.economysectorstable .stable.ver th:nth-child(1), .searchtable.economysectorstable .stable.ver tbody td:nth-child(1) {
    width: 65px;
}
.searchtable.economysectorstable .stable.ver th:nth-child(2), .searchtable.economysectorstable .stable.ver tbody td:nth-child(2) {
    width: 196px;
    padding-right: 6px !important;
}
.searchtable.economysectorstable .stable.ver th:nth-child(3), .searchtable.economysectorstable .stable.ver tbody td:nth-child(3) {
    width: 204px;
    padding-right: 6px !important;
}
.searchtable.economysectorstable .stable.ver th:nth-child(4), .searchtable.economysectorstable .stable.ver tbody td:nth-child(4) {
    width: 228px;
    padding-right: 6px !important;
}
.searchtable.economysectorstable .stable.ver th:nth-child(5), .searchtable.economysectorstable .stable.ver tbody td:nth-child(5) {
    width: 136px;
    padding-right: 6px !important;
}
.searchtable.economysectorstable .stable.ver th:nth-child(6), .searchtable.economysectorstable .stable.ver tbody td:nth-child(6) {
    width: 146px;
    padding-right: 13px !important;
}
.account_input.crerinput.datareqinput1.h_70 textarea {
    height: 70px;
}

.h-50px{
    height: 50px;
}

.selectedItem {
    background-color: #90c8e2;
}
.stable.ver tbody > tr.selectedItem:hover{
    background-color: #90c8e2;
}
