.modqontrol_tails .tidetails_table td:first-child {
    width: 200px;
}
.modqontrol_tails .tidetails_table td:last-child {
    width: auto;
}
.normabasetable.audacttable.legalassessmentable {
    min-width: 1228px;
    width: unset;
}
.normabasetable.audacttable.legalassessmentable .stable.ver.tasks_table tr:first-child th:nth-child(1),.normabasetable.audacttable.legalassessmentable .stable.ver.tasks_table tbody td:nth-child(1){
    width: 57px;
}
.normabasetable.audacttable.legalassessmentable .stable.ver.tasks_table tr:first-child th:nth-child(2),.normabasetable.audacttable.legalassessmentable .stable.ver.tasks_table tbody td:nth-child(2){
    width: 204px;
    border-bottom: 0;
}
.normabasetable.audacttable.legalassessmentable .stable.ver.tasks_table tr:first-child th:nth-child(3){
    width: unset;
}
.normabasetable.audacttable.legalassessmentable .stable.ver.tasks_table tr:nth-child(2) th:nth-child(1),.normabasetable.audacttable.legalassessmentable .stable.ver.tasks_table tbody td:nth-child(3){
    width: 182px;
}
.normabasetable.audacttable.legalassessmentable .stable.ver.tasks_table tr:nth-child(2) th:nth-child(2),.normabasetable.audacttable.legalassessmentable .stable.ver.tasks_table tbody td:nth-child(4){
    width: 247px;
}
.normabasetable.audacttable.legalassessmentable .stable.ver.tasks_table tr:nth-child(2) th:nth-child(3),.normabasetable.audacttable.legalassessmentable .stable.ver.tasks_table tbody td:nth-child(5){
    width: 180px;
}
.normabasetable.audacttable.legalassessmentable .stable.ver.tasks_table tr:first-child th:nth-child(4),.normabasetable.audacttable.legalassessmentable .stable.ver.tasks_table tbody td:nth-child(6){
    width: 232px;
}
.content_tbox.regipntable, .regipntable .stable.ver.tasks_table{
    width: unset;
    min-width: 1841px;
}
.regipntable .stable_hdr{
    padding-right: 0 !important;
}
.regipntable .bigcolumn1{
    width: unset !important;
}
.regipntable .column1 {
    width: 44px !important;
}
.regipntable .column2{
    width: 52px !important;
}
.regipntable .column3 {
    width: 84px !important;
}
.regipntable .column4{
    width: 69px !important;
}
.regipntable .column5{
    width: 107px !important;
}
.regipntable .bigcolumn1.subcolumn1 {
    width: 64px !important;
}
.regipntable .bigcolumn1.subcolumn2 {
    width: 138px !important;
}
.regipntable tr:nth-child(2) th {
    border-right: 3px solid #e2e2e2;
    border-top: 3px solid #e2e2e2;
}
.regipntable .column6 {
    width: 99px !important;
}
.regipntable .column7 {
    width: 99px !important;
}
.regipntable .bigcolumn2.subcolumn1 {
    width: 231px !important;
}
.regipntable td {
    text-align: left !important;
    padding-left: 11px !important;
}
.regipntable td.bigcolumn2.subcolumn1 {
    text-align: center !important;
    padding-left: 0 !important;
}
.regipntable .bigcolumn2.subcolumn2 {
    width: 97px !important;
}
.regipntable .bigcolumn2.subcolumn3 {
    width: 95px !important;
}
.regipntable .column8 {
    width: 296px !important;
}
.regipntable .column9 {
    width: 159px !important;
}
.regipntable .column10 {
    width: 111px !important;
}
.regipntable .column11 {
    width: 85px !important;
}
.regipntable .column0{
    width: 77px !important;
}
.prepatable1.supdocumentstable .stable.ver.tasks_table th:nth-child(1), .prepatable1.supdocumentstable .stable.ver.tasks_table tbody td:nth-child(1) {
    width: 81px;
}
.prepatable1.supdocumentstable .stable.ver.tasks_table th:nth-child(2), .prepatable1.supdocumentstable .stable.ver.tasks_table tbody td:nth-child(2) {
    width: 267px;
}
.prepatable1.supdocumentstable .stable.ver.tasks_table th:nth-child(3), .prepatable1.supdocumentstable .stable.ver.tasks_table tbody td:nth-child(3) {
    width: auto;
}
.prepatable1.supdocumentstable .stable.ver.tasks_table th:nth-child(4), .prepatable1.supdocumentstable .stable.ver.tasks_table tbody td:nth-child(4) {
    width: 316px;
}

.prepatable1.supdocumentstable .stable.ver.tasks_table th {
    height: 50px;
}
.prepatable1.supdocumentstable .stable.ver.tasks_table tbody td {
    height: 42px;
}
.account_input.crerinput.datareqinput1.h_180 textarea{
    height: 180px;
}
.account_input.crerinput.datareqinput1.h_110 textarea{
    height: 110px;
}
.account_input.crerinput.datareqinput1.h_60 textarea{
    height: 60px;
}
.nav-tabs.mt-m24{
    margin-top: -24px;
}
.documentcreate_modal .account_btn.edlform_btn {
    width: 135px;
}
.bigtablebox.modaltablebox {
    min-width: 950px;
    width: unset;
}


.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table {
    min-width: 1150px;
}
.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tr:first-child th:nth-child(1),.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tbody td:nth-child(1){
    width: 55px;
    padding-left: unset;
}
.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tr:first-child th:nth-child(2), .normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tr:first-child th:nth-child(3){
    width: unset;
}
.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tr:nth-child(2) th:nth-child(1),.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tbody td:nth-child(2){
    width: 133px;
}
.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tr:nth-child(2) th:nth-child(2),.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tbody td:nth-child(3){
    width: 90px;
}
.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tr:nth-child(2) th:nth-child(3),.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tbody td:nth-child(4){
    width: 90px;
}
.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tr:nth-child(2) th:nth-child(4),.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tbody td:nth-child(5){
    width: 111px;
}
.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tr:nth-child(2) th:nth-child(5),.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tbody td:nth-child(6){
    width: 130px;
}
.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tr:nth-child(2) th:nth-child(6),.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tbody td:nth-child(7){
    width: 119px;
}
.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tr:nth-child(2) th:nth-child(7),.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tbody td:nth-child(8){
    width: 105px;
}
.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tr:nth-child(2) th:nth-child(8),.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tbody td:nth-child(9){
    width: 131px;
}
.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tr:nth-child(2) th:nth-child(9) {
    border-right: none;
}
.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tr:nth-child(2) th:nth-child(9),.normabasetable.audacttable.projectlegaloptable .stable.ver.tasks_table tbody td:nth-child(10){
    width: 121px;
}
.stable_box.ver.hoditable2.plodocument-table th,
.stable_box.ver.hoditable2.plodocument-table td,
.stable_box.ver.hoditable2.violationslistsum-table .stable.ver th,
.stable_box.ver.hoditable2.violationslistsum-table .stable.ver td{
    padding-left: 10px;
    padding-right: 0;
}
.stable_box.ver.hoditable2.plodocument-table th:first-child, .stable_box.ver.hoditable2.plodocument-table td:first-child {
    padding-left: 81px;
}
.plodocument-table .stable.ver th:nth-child(1), .plodocument-table .stable.ver tbody td:nth-child(1) {
    width: auto;
}
.plodocument-table.hoditable2 .stable.ver th:nth-child(2), .plodocument-table.hoditable2 .stable.ver tbody td:nth-child(2) {
    width: 207px;
    padding-left: 10px;
}
.plodocument-table.hoditable2 .stable.ver th:nth-child(3), .plodocument-table.hoditable2 .stable.ver tbody td:nth-child(3) {
    width: 150px;
    padding-left: 10px;
}
.plodocument-table.hoditable2 .stable.ver th:nth-child(4), .plodocument-table.hoditable2 .stable.ver tbody td:nth-child(4) {
    width: 227px;
    padding-left: 10px;
}

.stable_box.ver.hoditable2.violationslistsum-table .stable.ver th {
    vertical-align: top;
    padding-top: 5px;
}
.violationslistsum-table.hoditable2 .stable.ver th:nth-child(1), .violationslistsum-table.hoditable2 .stable.ver tbody td:nth-child(1) {
    width: 53px;
    text-align: left;
    padding-left: 15px;
}
.violationslistsum-table.hoditable2 .stable.ver th:nth-child(2), .violationslistsum-table.hoditable2 .stable.ver tbody td:nth-child(2) {
    width: 181px;
    text-align: left;
}
.violationslistsum-table .stable.ver th:nth-child(3), .violationslistsum-table .stable.ver tbody td:nth-child(3) {
    width: 109px;
    text-align: left;
}
.violationslistsum-table .stable.ver th:nth-child(4), .violationslistsum-table .stable.ver tbody td:nth-child(4) {
    width: 167px;
    text-align: left;
}
.violationslistsum-table .stable.ver th:nth-child(5), .violationslistsum-table .stable.ver tbody td:nth-child(5) {
    width: 229px;
}
.violationslistsum-table .stable.ver th:nth-child(6), .violationslistsum-table .stable.ver tbody td:nth-child(6) {
    width: 200px;
}
.violationslistsum-table .stable.ver th:nth-child(7), .violationslistsum-table .stable.ver tbody td:nth-child(7) {
    width: 239px;
}
.violationslistsum-table .stable.ver tbody td:nth-child(5), .violationslistsum-table .stable.ver tbody td:nth-child(6), .violationslistsum-table .stable.ver tbody td:nth-child(7) {
    text-align: center;
}

.violationslistsum-table.vlstable_modal th{
    padding-right: 0 !important;
}
.violationslistsum-table.vlstable_modal .stable.ver th:nth-child(6), .violationslistsum-table .stable.ver tbody td:nth-child(6) {
    width: 176px;
}
.violationslistsum-table.vlstable_modal .stable.ver th:nth-child(7), .violationslistsum-table .stable.ver tbody td:nth-child(7) {
    width: 236px;
}

.ploclauses-table .stable.ver th:nth-child(1), .ploclauses-table .stable.ver tbody td:nth-child(1){
    width: 81px;
}
.ploclauses-table.control__information .stable.ver th:nth-child(1),
.ploclauses-table.control__information .stable.ver tbody td:nth-child(1){
    padding-left: 20px;
}
.ploclauses-table.hoditable2 .stable.ver th:nth-child(2), .ploclauses-table.hoditable2 .stable.ver tbody td:nth-child(2){
    width: auto;
    padding-left: 42px;
}
.ploclauses-table.hoditable2.control__information .stable.ver th:nth-child(2),
.ploclauses-table.hoditable2.control__information .stable.ver tbody td:nth-child(2){
    padding-left: 15px;
}
.ploclauses-table.hoditable2 .stable.ver th:nth-child(3), .ploclauses-table.hoditable2 .stable.ver tbody td:nth-child(3){
    width: 163px;
    padding-left: 42px;
}
.ploclauses-table.hoditable2.control__information .stable.ver th:nth-child(3),
.ploclauses-table.hoditable2.control__information .stable.ver tbody td:nth-child(3){
    width: 233px;
    padding-left: 15px;
}
.ploclauses-table.hoditable2 .stable.ver th:nth-child(4), .ploclauses-table.hoditable2 .stable.ver tbody td:nth-child(4){
    width: 317px;
    padding-left: 42px;
}


/*.hoditable2 .auditinfo_table.stable.ver th:nth-child(1), .hoditable2 .auditinfo_table.stable.ver tbody td:nth-child(1)*/
.ploassignments-table .stable.ver th {
    height: 59px;
}
.ploassignments-table .stable.ver td {
    height: 42px;
    padding-top: unset;
    padding-bottom: unset;
    vertical-align: middle;
}
.ploassignments-table .stable.ver th:not(:first-child), .ploassignments-table .stable.ver td:not(:first-child) {
    padding-left: 0;
}
.stable_box.ver.hoditable2.ploassignments-table td.spoiler:before {
    top:50%;
}
.stable_box.ver.hoditable2.ploassignments-table td.subblock:first-child, .stable_box.ver.hoditable2.ploassignments-table.checkbox-version td.subblock:nth-child(2) {
    padding-left: 52px;
}
.stable_box.ver.hoditable2.ploassignments-table td.spoiler.subblock::before {
    margin-top: -3px;
    left: 35px;
}
.ploassignments-table .stable.ver th:nth-child(1), .ploassignments-table .stable.ver tbody td:nth-child(1){
    width: 85px;
}
.ploassignments-table.hoditable2 .stable.ver th:nth-child(1) {
    padding-left: 17px;
}
.ploassignments-table.hoditable2 .stable.ver th:nth-child(2), .ploassignments-table .stable.ver tbody td:nth-child(2){
    width: 82px;
    padding-left: 0;
    text-align: center;
    padding-right: 0 !important;
}
.ploassignments-table.hoditable2 .stable.ver th:nth-child(3), .ploassignments-table.hoditable2 .stable.ver tbody td:nth-child(3){
    width: 121px;
    padding-left: 15px;
}
.ploassignments-table.hoditable2 .stable.ver th:nth-child(4), .ploassignments-table.hoditable2 .stable.ver tbody td:nth-child(4){
    width: 155px;
    padding-left: 15px
}
.ploassignments-table.hoditable2 .stable.ver th:nth-child(5), .ploassignments-table.hoditable2 .stable.ver tbody td:nth-child(5){
    width: 155px;
    padding-left: 15px
}
.ploassignments-table.hoditable2 .stable.ver th:nth-child(6), .ploassignments-table.hoditable2 .stable.ver tbody td:nth-child(6){
    width: 146px;
    padding-left: 15px
}
.ploassignments-table.hoditable2 .stable.ver th:nth-child(7), .ploassignments-table.hoditable2 .stable.ver tbody td:nth-child(7){
    width: 116px;
    padding-left: 15px
}
.ploassignments-table.hoditable2 .stable.ver th:nth-child(8), .ploassignments-table.hoditable2 .stable.ver tbody td:nth-child(8){
    width: 200px;
    padding-left: 15px
}
.ploassignments-table.hoditable2 .stable.ver th:nth-child(9), .ploassignments-table.hoditable2 .stable.ver tbody td:nth-child(9){
    width: 169px;
    padding-left: 15px
}
.ploassignments-table.hoditable2 .stable.ver th:nth-child(10), .ploassignments-table.hoditable2 .stable.ver tbody td:nth-child(10){
    width: 167px;
    padding-left: 15px
}
.ploassignments-table.checkbox-version .stable.ver th:nth-child(1), .ploassignments-table.checkbox-version .stable.ver tbody td:nth-child(1) {
    width: 77px;
    padding-left: 0;
    text-align: center;
}
.ploassignments-table.checkbox-version.hoditable2 .stable.ver th:nth-child(1) {
    padding-left: 11px;
}
.ploassignments-table.checkbox-version .stable.ver th:nth-child(2), .ploassignments-table.checkbox-version .stable.ver tbody td:nth-child(2){
    width: 85px;
    padding-left: 42px;
    font-family: 'Proxima Nova Rg';
}
.ploassignments-table .stable_hdr{
    padding-top: 5px;
}
.ploassignments-table.checkbox-version .stable.ver th:nth-child(2) {
    padding-left: 17px;
}
.ploassignments-table.checkbox-version .stable.ver th:nth-child(3), .ploassignments-table.checkbox-version .stable.ver tbody td:nth-child(3){
    width: 82px;
    padding-left: 3px;
    text-align: center;
}
.ploassignments-table.checkbox-version .stable.ver th:nth-child(4), .ploassignments-table.checkbox-version .stable.ver tbody td:nth-child(4){
    width: 121px;
}
.ploassignments-table.checkbox-version .stable.ver th:nth-child(5), .ploassignments-table.checkbox-version .stable.ver tbody td:nth-child(5){
    width: 155px;
}
.ploassignments-table.checkbox-version .stable.ver th:nth-child(6), .ploassignments-table.checkbox-version .stable.ver tbody td:nth-child(6){
    width: 157px;
}
.ploassignments-table.checkbox-version .stable.ver th:nth-child(7), .ploassignments-table.checkbox-version .stable.ver tbody td:nth-child(7){
    width: 106px;
}
.ploassignments-table.checkbox-version .stable.ver th:nth-child(8), .ploassignments-table.checkbox-version .stable.ver tbody td:nth-child(8){
    width: 100px;
}
.ploassignments-table.checkbox-version .stable.ver th:nth-child(9), .ploassignments-table.checkbox-version .stable.ver tbody td:nth-child(9){
    width: 200px;
}
.ploassignments-table.checkbox-version .stable.ver th:nth-child(10), .ploassignments-table.checkbox-version .stable.ver tbody td:nth-child(10){
    width: 320px;
}
.ploassignments-table.checkbox-version .stable.ver th:nth-child(11), .ploassignments-table.checkbox-version .stable.ver tbody td:nth-child(11){
    width: 167px;
    padding-left: 15px;
}
.prescriptionclauses-table .stable.ver th:not(:first-child), .prescriptionclauses-table .stable.ver tbody td:not(:first-child){
    padding-left: 15px;
}
.prescriptionclauses-table .stable.ver th {
    vertical-align: top;
    padding-top: 5px;
}
.prescriptionclauses-table .stable.ver th:nth-child(1), .prescriptionclauses-table .stable.ver tbody td:nth-child(1){
    width: 86px;
    padding-left: 21px;
}
.prescriptionclauses-table.hoditable2 .stable.ver th:nth-child(2), .prescriptionclauses-table.hoditable2 .stable.ver tbody td:nth-child(2){
    width: 130px;
    padding-left: 15px
}
.prescriptionclauses-table.hoditable2 .stable.ver th:nth-child(3), .prescriptionclauses-table.hoditable2 .stable.ver tbody td:nth-child(3){
    width: 135px;
    padding-left: 15px
}
.prescriptionclauses-table.hoditable2 .stable.ver th:nth-child(4), .prescriptionclauses-table.hoditable2 .stable.ver tbody td:nth-child(4){
    width: 182px;
    padding-left: 15px
}
.prescriptionclauses-table.hoditable2 .stable.ver th:nth-child(5), .prescriptionclauses-table.hoditable2 .stable.ver tbody td:nth-child(5){
    width: 140px;
    padding-left: 15px
}
.prescriptionclauses-table.hoditable2 .stable.ver th:nth-child(6), .prescriptionclauses-table.hoditable2 .stable.ver tbody td:nth-child(6){
    width: 103px;
    padding-left: 15px
}
.prescriptionclauses-table.hoditable2 .stable.ver th:nth-child(7), .prescriptionclauses-table.hoditable2 .stable.ver tbody td:nth-child(7){
    width: 120px;
    padding-left: 15px
}
.prescriptionclauses-table.hoditable2 .stable.ver th:nth-child(8), .prescriptionclauses-table.hoditable2 .stable.ver tbody td:nth-child(8){
    width: 180px;
    padding-left: 15px
}
.prescriptionclauses-table.hoditable2 .stable.ver th:nth-child(9), .prescriptionclauses-table.hoditable2 .stable.ver tbody td:nth-child(9){
    width: 140px;
    padding-left: 15px
}
.prescriptionclauses-table.hoditable2 .stable.ver th:nth-child(10), .prescriptionclauses-table.hoditable2 .stable.ver tbody td:nth-child(10){
    width: 173px;
    padding-left: 15px
}
.prescriptionclauses-table.hoditable2 .stable.ver th:nth-child(11), .prescriptionclauses-table.hoditable2 .stable.ver tbody td:nth-child(11){
    width: 171px;
    padding-left: 15px
}
.prescriptionclauses-table.hoditable2 .stable.ver th:nth-child(12), .prescriptionclauses-table.hoditable2 .stable.ver tbody td:nth-child(12){
    width: 167px;
    padding-left: 15px
}
.prescriptionclauses-table.hoditable2 .stable.ver th:nth-child(13), .prescriptionclauses-table.hoditable2 .stable.ver tbody td:nth-child(13){
    width: 167px;
    padding-left: 15px
}
.prescriptionclauses-table.hoditable2 .stable.ver th:nth-child(14), .prescriptionclauses-table.hoditable2 .stable.ver tbody td:nth-child(14){
    width: 172px;
    padding-left: 15px
}
.prescriptionclauses-table.hoditable2 .stable.ver th:nth-child(15), .prescriptionclauses-table.hoditable2 .stable.ver tbody td:nth-child(15){
    width: 130px;
    padding-left: 15px
}
.prescriptionclauses-table.hoditable2 .stable.ver th:nth-child(16), .prescriptionclauses-table.hoditable2 .stable.ver tbody td:nth-child(16){
    width: 137px;
    padding-left: 15px
}

.form_radio.modal_radio label:before {
    top:0;
    bottom:unset;
}
.stselect.ploselect, .stselect.ploselect ul {
    width:100%;
    left: 0;
}
.modal_radio label,  .stselect.ploselect .head b{
    font-family: Montserrat;
}

.plomodalasor-table .stable.ver th:not(:first-child), .plomodalasor-table .stable.ver tbody td:not(:first-child) {
    padding-left: 0;
}
.plomodalasor-table .stable.ver th{
    padding-right: 0 !important;
    vertical-align: top;
    padding-top: 5px;
    height: 70px;
}
.plomodalasor-table .stable.ver td {
    height: 52px;
}
.plomodalasor-table .stable.ver th:nth-child(1), .plomodalasor-table .stable.ver tbody td:nth-child(1){
    width: 82px;
    padding-left: 18px;
}
.plomodalasor-table.hoditable2 .stable.ver th:nth-child(2), .plomodalasor-table.hoditable2 .stable.ver tbody td:nth-child(2){
    width: 80px;
    padding-left: 15px;
    font-family: 'Proxima Nova Rg';
}
.plomodalasor-table.hoditable2 .stable.ver th:nth-child(3), .plomodalasor-table.hoditable2 .stable.ver tbody td:nth-child(3){
    width: 100px;
    padding-left: 15px;
}
.plomodalasor-table.hoditable2 .stable.ver th:nth-child(4), .plomodalasor-table.hoditable2 .stable.ver tbody td:nth-child(4){
    width: 120px;
    padding-left: 15px;
}
.plomodalasor-table.hoditable2 .stable.ver th:nth-child(5), .plomodalasor-table.hoditable2 .stable.ver tbody td:nth-child(5){
    width: 110px;
    padding-left: 15px;
}
.plomodalasor-table.hoditable2 .stable.ver th:nth-child(6), .plomodalasor-table.hoditable2 .stable.ver tbody td:nth-child(6) {
    width: 120px;
    padding-left: 15px;
}
.plomodalasor-table.hoditable2 .stable.ver th:nth-child(7), .plomodalasor-table.hoditable2 .stable.ver tbody td:nth-child(7) {
    width: 100px;
    padding-left: 15px;
}
.plomodalasor-table.hoditable2 .stable.ver th:nth-child(8), .plomodalasor-table.hoditable2 .stable.ver tbody td:nth-child(8) {
    width: 97px;
    padding-left: 15px;
}
.plomodalasor-table.hoditable2 .stable.ver th:nth-child(9), .plomodalasor-table.hoditable2 .stable.ver tbody td:nth-child(9) {
    width: 118px;
    padding-left: 15px;
}
.plomodalasor-table.hoditable2 .stable.ver th:nth-child(10), .plomodalasor-table.hoditable2 .stable.ver tbody td:nth-child(10) {
    width: 320px;
    padding-left: 15px;
}
.plomodalasor-table.hoditable2 .stable.ver th:nth-child(11), .plomodalasor-table.hoditable2 .stable.ver tbody td:nth-child(11) {
    width: 165px;
    padding-left: 15px;
}
.plomodalasor-table.hoditable2 .stable.ver th:nth-child(12), .plomodalasor-table.hoditable2 .stable.ver tbody td:nth-child(12) {
    width: 160px;
    padding-left: 15px;
}
.plomodalasor-table.hoditable2 .stable.ver th:nth-child(13), .plomodalasor-table.hoditable2 .stable.ver tbody td:nth-child(13) {
    width: 154px;
    padding-left: 15px;
}
.plomodalasor-table.hoditable2 .stable.ver th:nth-child(14), .plomodalasor-table.hoditable2 .stable.ver tbody td:nth-child(14) {
    width: 118px;
    padding-left: 15px;
}
.plomodalasor-table.hoditable2 .stable.ver th:nth-child(15), .plomodalasor-table.hoditable2 .stable.ver tbody td:nth-child(15) {
    width: 152px;
    padding-left: 15px;
}
.plomodalasor-table.hoditable2 .stable.ver th:nth-child(16), .plomodalasor-table.hoditable2 .stable.ver tbody td:nth-child(16) {
    width: 123px;
    padding-left: 15px;
}
.plomodalasor-table.hoditable2 .stable.ver th:nth-child(17), .plomodalasor-table.hoditable2 .stable.ver tbody td:nth-child(17) {
    width: 131px;
    padding-left: 15px;
}
.stable_box.ver.hoditable2.plodocument-table th.subblock:first-child, .stable_box.ver.hoditable2.plodocument-table td.subblock:first-child {
    padding-left: 100px;
}

.stable_box.ver.hoditable2.plodocument-table.version2 th:first-child, .stable_box.ver.hoditable2.plodocument-table.version2 td:first-child {
    padding-left: 40px;
}

.prepatable1.expertopinion-table .stable.ver.tasks_table th:nth-child(1), .prepatable1.expertopinion-table .stable.ver.tasks_table tbody td:nth-child(1) {
    width: 68px;
}
.prepatable1.expertopinion-table .stable.ver.tasks_table th:nth-child(2), .prepatable1.expertopinion-table .stable.ver.tasks_table tbody td:nth-child(2) {
    width: 291px;
}
.prepatable1.expertopinion-table .stable.ver.tasks_table th:nth-child(3), .prepatable1.expertopinion-table .stable.ver.tasks_table tbody td:nth-child(3) {
    width: 94px;
}
.prepatable1.expertopinion-table .stable.ver.tasks_table th:nth-child(4), .prepatable1.expertopinion-table .stable.ver.tasks_table tbody td:nth-child(4) {
    width: 103px;
}
.prepatable1.expertopinion-table .stable.ver.tasks_table th:nth-child(5), .prepatable1.expertopinion-table .stable.ver.tasks_table tbody td:nth-child(5) {
    width: 160px;
}
.prepatable1.expertopinion-table .stable.ver.tasks_table th:nth-child(6), .prepatable1.expertopinion-table .stable.ver.tasks_table tbody td:nth-child(6) {
    width: 130px;
}
.prepatable1.expertopinion-table .stable.ver.tasks_table th:nth-child(7), .prepatable1.expertopinion-table .stable.ver.tasks_table tbody td:nth-child(7) {
    width: 157px;
}
.prepatable1.expertopinion-table .stable.ver.tasks_table th {
    height: 50px;
}
.prepatable1.expertopinion-table .stable.ver.tasks_table td {
    height: 42px;
}

.normabasetable.audacttable.informationlegalopinion-table .stable.ver.tasks_table tr:first-child th:nth-child(1), .normabasetable.audacttable.informationlegalopinion-table .stable.ver.tasks_table tbody td:nth-child(1) {
    width: 55px;
}
.normabasetable.audacttable.informationlegalopinion-table .tasks_table.stable.ver tr:first-child th:nth-child(2) {
    width: unset;
}
.normabasetable.audacttable.informationlegalopinion-table .tasks_table.stable.ver th {
    height: 38px;
    vertical-align: top;
    padding-top: 5px;
}
.normabasetable.audacttable.informationlegalopinion-table .stable.ver.tasks_table tr:nth-child(3) th:nth-child(1), .normabasetable.audacttable.informationlegalopinion-table .stable.ver.tasks_table tbody td:nth-child(2) {
    width: 154px;
}
.normabasetable.audacttable.informationlegalopinion-table .stable.ver.tasks_table tr:nth-child(3) th:nth-child(2), .normabasetable.audacttable.informationlegalopinion-table .stable.ver.tasks_table tbody td:nth-child(3) {
    width: 200px;
}
.normabasetable.audacttable.informationlegalopinion-table .stable.ver.tasks_table tr:nth-child(2) th:nth-child(2), .normabasetable.audacttable.informationlegalopinion-table .stable.ver.tasks_table tbody td:nth-child(4) {
    width: 238px;
}
.normabasetable.audacttable.informationlegalopinion-table .stable.ver.tasks_table tr:first-child th:nth-child(3), .normabasetable.audacttable.informationlegalopinion-table .stable.ver.tasks_table tbody td:nth-child(5) {
    width: 121px;
}
.normabasetable.audacttable.informationlegalopinion-table .stable.ver.tasks_table tr:first-child th:nth-child(4), .normabasetable.audacttable.informationlegalopinion-table .stable.ver.tasks_table tbody td:nth-child(6) {
    width: 109px;
}
.normabasetable.audacttable.informationlegalopinion-table .stable.ver.tasks_table tr:first-child th:nth-child(5), .normabasetable.audacttable.informationlegalopinion-table .stable.ver.tasks_table tbody td:nth-child(7) {
    width: 125px;
}

.sort-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
    background-color: #f5f5f5;
}
.sort-btn:hover {
    outline: 0;
}
.sort-btn:not(.disabled):hover {
    opacity: 0.95;
}
.sort-btn.disabled {
    opacity: 0.5;
}
.prepatable1.qccriteria-table .stable.ver.tasks_table th {
    height: 50px;
}
.prepatable1.qccriteria-table .stable.ver.tasks_table td{
    height: 42px;
}

.prepatable1.qccriteria-table .stable.ver.tasks_table th:nth-child(1), .prepatable1.qccriteria-table .stable.ver.tasks_table tbody td:nth-child(1) {
    width: 81px;
}
.prepatable1.qccriteria-table .stable.ver.tasks_table th:nth-child(2), .prepatable1.qccriteria-table .stable.ver.tasks_table tbody td:nth-child(2) {
    width: auto;
}
.prepatable1.qccriteria-table .stable.ver.tasks_table th:nth-child(3), .prepatable1.qccriteria-table .stable.ver.tasks_table tbody td:nth-child(3) {
    width: 233px;
}
.flotextarea textarea{
    height: 70px;
    min-height: unset;
    resize: none;
    width: 861px;
}
.flotextarea+.account_btn.discussion_btn {
    margin-top: -9px;
}
.flotextarea1_btn {
    position: absolute;
    top: -23px;
    right: 0;
}
.flotextarea1 {
    width: 100%;
}
.flotextarea1 textarea{
    width: 100%;
    height: 200px;
    resize: none;
    margin-top: 10px;
}
.normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th {
    height: 80px;
    border: none;
    padding-right: 0 !important;
}
.normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table td {
    height: 42px;
    padding-right: 0 !important;
}

.normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(1), .normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table td:nth-child(1) {
    width: 61px;
}
.normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(2), .normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table td:nth-child(2) {
    width: 131px;
    border: none;
}
.normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(3), .normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table td:nth-child(3) {
    width: 108px;
}
.normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(4), .normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table td:nth-child(4) {
    width: 90px;
}
.normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(5), .normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table td:nth-child(5) {
    width: 175px !important;
}
.normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(6), .normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table td:nth-child(6) {
    width: 107px;
}
.normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(7), .normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table td:nth-child(7) {
    width: 124px !important;
}
.normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(8), .normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(8) {
    width: 85px;
}
.normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(9), .normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(9) {
    width: 127px;
}
.normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(10), .normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(10) {
    width: 115px;
}
.normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(11), .normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(11) {
    width: 121px;
}
.normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(12), .normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(12) {
    width: 146px;
}
.normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(13), .normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(13) {
    width: 105px;
}
.normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(14), .normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(14) {
    width: 152px;
}
.normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(15), .normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(15) {
    width: 79px;
}
.normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(16), .normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(16) {
    width: 110px;
}
.normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(17), .normabasetable.audacttable.lofrecommendations-table .stable.ver.tasks_table th:nth-child(17) {
    width: 158px;
}

.prepatable1.supdocumentstable.audconclusiontable .stable.ver.tasks_table th:nth-child(1), .prepatable1.supdocumentstable.audconclusiontable .stable.ver.tasks_table tbody td:nth-child(1) {
    width: 68px;
}
.prepatable1.supdocumentstable.audconclusiontable .stable.ver.tasks_table th:nth-child(2), .prepatable1.supdocumentstable.audconclusiontable .stable.ver.tasks_table tbody td:nth-child(2) {
    width: 290px;
}
.prepatable1.supdocumentstable.audconclusiontable .stable.ver.tasks_table th:nth-child(3), .prepatable1.supdocumentstable.audconclusiontable .stable.ver.tasks_table tbody td:nth-child(3) {
    width: 133px;
}
.prepatable1.supdocumentstable.audconclusiontable .stable.ver.tasks_table th:nth-child(4), .prepatable1.supdocumentstable.audconclusiontable .stable.ver.tasks_table tbody td:nth-child(4) {
    width: 473px;
}

.normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(1), .normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(1) {
    width: 82px;
}
.normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(2), .normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(2) {
    width: 72px;
}
.normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(3), .normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(3) {
    width: 96px;
}
.normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(4), .normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(4) {
    width: 107px;
}
.normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(5), .normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(5) {
    width: 165px !important;
}
.normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(6), .normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(6) {
    width: 136px;
}
.normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(7), .normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(7) {
    width: 105px !important;
}
.normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(8), .normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(8) {
    width: 125px;
}
.normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(9), .normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(9) {
    width: 116px;
}
.normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(10), .normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(10) {
    width: 121px;
}
.normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(11), .normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(11) {
    width: 145px;
}
.normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(12), .normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(12) {
    width: 103px;
}
.normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(13), .normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(13) {
    width: 151px;
}
.normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(14), .normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(14) {
    width: 80px;
}
.normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(15), .normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(15) {
    width: 110px;
}
.normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(16), .normabasetable.audacttable.lofrecommendations-table.lofmrecommendations-table .stable.ver.tasks_table th:nth-child(16) {
    width: 170px;
}

.documentcreate_modal.legalQuality_modal .modal-dialog {
    max-width: 900px;
    max-height: 91vh;
}
.legalQuality_modal .formdemandtable1.modal_adddatatransmissionmaterialstable1 .auditinfo_table.stable.ver th:nth-child(1),
.legalQuality_modal .formdemandtable1.modal_adddatatransmissionmaterialstable1 .auditinfo_table.stable.ver tbody td:nth-child(1) {
    width: 35px;
}
.legalQuality_modal .formdemandtable1.modal_adddatatransmissionmaterialstable1 .auditinfo_table.stable.ver th:nth-child(2),
.legalQuality_modal .formdemandtable1.modal_adddatatransmissionmaterialstable1 .auditinfo_table.stable.ver tbody td:nth-child(2) {
    width: 680px;
}
.legalQuality_modal .formdemandtable1.modal_adddatatransmissionmaterialstable1 {
    height: 51vh;
    overflow: auto;
}

.no_border {
    border: none;
}
.violationslist_container {
    max-width: 1060px;
}

.addButtonRemark {
    display: flex;
    align-items: center;

}

.addRemark {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #4A89C3;
    border-radius: 4px;
    display: block;
    margin-left: 15px;
    cursor: pointer;
}
.addRemark::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.addRemark::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.d-flex_column {
    display: flex;
    flex-direction: column;
}
.toShape_class .stselect ul {
    width: 100%;
}
