.bodies_table {

}
.stable_box.ver.hoditable2.plodocument-table.bodies_table th.subblock:first-child,
.stable_box.ver.hoditable2.plodocument-table.bodies_table td.subblock:first-child {
    padding-left: 45px;
}
.stable_box.ver.hoditable2.plodocument-table.bodies_table th:first-child,
.stable_box.ver.hoditable2.plodocument-table.bodies_table td:first-child {
    padding-left: 44px;
}
.stable_box.ver.hoditable2.bodies_table td.spoiler.subblock:before {
    left: 15px;
    margin-top: -3px;
}
.plodocument-table.hoditable2.bodies_table .stable.ver th:nth-child(2),
.plodocument-table.hoditable2.bodies_table .stable.ver tbody td:nth-child(2) {
    width: 240px;
    padding-left: 10px;
}
.plodocument-table.hoditable2.bodies_table .stable.ver th:nth-child(3),
.plodocument-table.hoditable2.bodies_table .stable.ver tbody td:nth-child(3) {
    text-align: center;
}
.plodocument-table.hoditable2.bodies_table .stable.ver th:nth-child(4),
.plodocument-table.hoditable2.bodies_table .stable.ver tbody td:nth-child(4) {
    width: 200px;
}
.plodocument-table.hoditable2.bodies_table .stable.ver th:nth-child(5),
.plodocument-table.hoditable2.bodies_table .stable.ver tbody td:nth-child(5) {
    padding-left: 10px;
}
.plodocument-table.hoditable2.bodies_table .stable.ver th:nth-child(6),
.plodocument-table.hoditable2.bodies_table .stable.ver tbody td:nth-child(6) {
    width: 205px;
    padding-left: 10px;
}
.stable_box.ver.hoditable2.plodocument-table.dis_state_audit_table th:first-child,
.stable_box.ver.hoditable2.plodocument-table.dis_state_audit_table td:first-child {
    padding-left: 25px;
}
.plodocument-table.hoditable2.dis_state_audit_table .stable.ver th:nth-child(2),
.plodocument-table.hoditable2.dis_state_audit_table .stable.ver tbody td:nth-child(2) {
    width: 300px;
}
.plodocument-table.hoditable2.dis_state_audit_table .stable.ver th:nth-child(3),
.plodocument-table.hoditable2.dis_state_audit_table .stable.ver tbody td:nth-child(3) {
    width: 691px;
}
.crerinput_formation {
    margin-top: 16px;
}
.crerinput_formation input {
    width: 100%;
}
.stable_box.ver.hoditable2.plodocument-table.verification_question_table th:first-child,
.stable_box.ver.hoditable2.plodocument-table.verification_question_table td:first-child {
    padding-left: 23px;
}
.plodocument-table.hoditable2.verification_question_table .stable.ver th:nth-child(2),
.plodocument-table.hoditable2.verification_question_table .stable.ver tbody td:nth-child(2) {
    width: 991px;
    padding-left: 60px;
}
.plodocument-table.hoditable2.verification_question_table .stable.ver tbody .subline td:nth-child(2) {
    padding-left: 90px;
}
.stable_box.ver.hoditable2.verification_question_table .subline td.spoiler:before {
    left: 60px;
}
.verificationForm .account_input.large input {
    width: 521px;
}
.verificationForm .crerinput input {
    width: 740px;
}

.verificationForm .crerinput.crerinput_full input {
    width: 880px;
}
.verificationForm .creaform_line {
    width: 740px;
}
.verificationForm .account_input.mediuminput {
    width: 355px;
}
.verificationForm .crerinput.crerinput_full textarea {
    width: 900px;
}

.stable_box.ver.hoditable2.plodocument-table.assignments_check_table th:first-child,
.stable_box.ver.hoditable2.plodocument-table.assignments_check_table td:first-child {
    padding-left: 21px;
}

.stable_box.ver.hoditable2.plodocument-table.assignments_check_table th:nth-child(5),
.stable_box.ver.hoditable2.plodocument-table.assignments_check_table td:nth-child(5) {
    padding-left: 10px;
}

.plodocument-table.hoditable2.assignments_check_table .stable.ver th:nth-child(3),
.plodocument-table.hoditable2.assignments_check_table .stable.ver tbody td:nth-child(3) {
    width: 270px;
}
.crerinput_date_type .periodDate{
    display: flex;
    width: 100%;
}
.crerinput_date_type {
    width: 737px;
}
.verificationForm .crerinput.crerinput_date_type input {
    width: 100%;
}
.crerinput_date_type .periodDate .periodDate_text {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
}
.crerinput_date_type .periodDate .periodDate_text:first-child {
    margin-right: 20px;
}
.crerinput_date_type .periodDate .periodDate_text span {
    width: auto;
    margin-right: 10px;
}
.ng-star-inserted .ngb-dp-arrow button.btn span.ngb-dp-navigation-chevron {
    width: .75em;
    margin-right: .15em;

}
.assessment_check.account_input.mediuminput {
    width: 510px;
}

.stable_box.ver.hoditable2.plodocument-table.requirements_provision_table th:first-child,
.stable_box.ver.hoditable2.plodocument-table.requirements_provision_table td:first-child {
    padding-left: 25px;
}
.plodocument-table.hoditable2.requirements_provision_table .stable.ver th:nth-child(2),
.plodocument-table.hoditable2.requirements_provision_table .stable.ver tbody td:nth-child(2) {
    width: 147px;
}
.plodocument-table.hoditable2.requirements_provision_table .stable.ver th:nth-child(4),
.plodocument-table.hoditable2.requirements_provision_table .stable.ver tbody td:nth-child(4) {
    width: 187px;
}
.plodocument-table.hoditable2.requirements_provision_table .stable.ver th:nth-child(5),
.plodocument-table.hoditable2.requirements_provision_table .stable.ver tbody td:nth-child(5) {
    padding-left: 10px;
}
.plodocument-table.hoditable2.requirements_provision_table .stable.ver th:nth-child(6),
.plodocument-table.hoditable2.requirements_provision_table .stable.ver tbody td:nth-child(6) {
    padding-left: 10px;
}
.plodocument-table.hoditable2.requirements_provision_table .stable.ver th:nth-child(7),
.plodocument-table.hoditable2.requirements_provision_table .stable.ver tbody td:nth-child(7) {
    padding-left: 10px;
}
.plodocument-table.hoditable2.requirements_provision_table .stable.ver th:nth-child(8),
.plodocument-table.hoditable2.requirements_provision_table .stable.ver tbody td:nth-child(8) {
    padding-left: 10px;
}

.stable_box.ver.hoditable2.plodocument-table.resolutions_doc_table th:first-child,
.stable_box.ver.hoditable2.plodocument-table.resolutions_doc_table td:first-child {
    padding-left: 45px;
}
.plodocument-table.hoditable2.resolutions_doc_table .stable.ver th:nth-child(3),
.plodocument-table.hoditable2.resolutions_doc_table .stable.ver tbody td:nth-child(3) {
    width: 230px;
}

.stable_box.ver.hoditable2.plodocument-table.type_resolutions_doc_table th:first-child,
.stable_box.ver.hoditable2.plodocument-table.type_resolutions_doc_table td:first-child {
    padding-left: 23px;
}
.plodocument-table.hoditable2.type_resolutions_doc_table .stable.ver th:nth-child(4),
.plodocument-table.hoditable2.type_resolutions_doc_table .stable.ver tbody td:nth-child(4) {
    width: 150px;
}
.stable_box.ver.hoditable2.plodocument-table.type_resolutions_doc_table th:nth-child(5),
.stable_box.ver.hoditable2.plodocument-table.type_resolutions_doc_table td:nth-child(5) {
    padding-left: 10px;
    width: 134px;
}
.stable_box.ver.hoditable2.plodocument-table.type_resolutions_doc_table th:nth-child(6),
.stable_box.ver.hoditable2.plodocument-table.type_resolutions_doc_table td:nth-child(6) {
    padding-left: 10px;
}
.stable_box.ver.hoditable2.plodocument-table.type_resolutions_doc_table th:nth-child(7),
.stable_box.ver.hoditable2.plodocument-table.type_resolutions_doc_table td:nth-child(7) {
    padding-left: 10px;
    width: 132px;
}
.stable_box.ver.hoditable2.plodocument-table.type_resolutions_doc_table th:nth-child(8),
.stable_box.ver.hoditable2.plodocument-table.type_resolutions_doc_table td:nth-child(8) {
    padding-left: 10px;
}

.stable_box.ver.hoditable2.plodocument-table.history_resolutions_table th:first-child,
.stable_box.ver.hoditable2.plodocument-table.history_resolutions_table td:first-child {
    padding-left: 23px;
}
.plodocument-table.hoditable2.history_resolutions_table .stable.ver th:nth-child(2),
.plodocument-table.hoditable2.history_resolutions_table .stable.ver tbody td:nth-child(2) {
    width: 175px;
}
.plodocument-table.hoditable2.history_resolutions_table .stable.ver th:nth-child(3),
.plodocument-table.hoditable2.history_resolutions_table .stable.ver tbody td:nth-child(3) {
    width: 164px;
}
.plodocument-table.hoditable2.history_resolutions_table .stable.ver th:nth-child(4),
.plodocument-table.hoditable2.history_resolutions_table .stable.ver tbody td:nth-child(4) {
    width: 150px;
}
.stable_box.ver.hoditable2.plodocument-table.history_resolutions_table th:nth-child(5),
.stable_box.ver.hoditable2.plodocument-table.history_resolutions_table td:nth-child(5) {
    padding-left: 10px;
}
.stable_box.ver.hoditable2.plodocument-table.history_resolutions_table th:nth-child(6),
.stable_box.ver.hoditable2.plodocument-table.history_resolutions_table td:nth-child(6) {
    padding-left: 10px;
}
.stable_box.ver.hoditable2.plodocument-table.history_resolutions_table th:nth-child(7),
.stable_box.ver.hoditable2.plodocument-table.history_resolutions_table td:nth-child(7) {
    padding-left: 10px;
    width: 165px;
}

.service_note_table {

}
.stable_box.ver.hoditable2.plodocument-table.service_note_table th:first-child,
.stable_box.ver.hoditable2.plodocument-table.service_note_table td:first-child {
    padding-left: 25px;
}
.plodocument-table.hoditable2.service_note_table .stable.ver th:nth-child(4),
.plodocument-table.hoditable2.service_note_table .stable.ver tbody td:nth-child(4) {
    width: 457px;
}
.plodocument-table.hoditable2.service_note_table .stable.ver th:nth-child(5),
.plodocument-table.hoditable2.service_note_table .stable.ver tbody td:nth-child(5) {
    padding-left: 10px;
}

.plodocument-table.hoditable2.requirements_provision_table.provision2_table .stable.ver th:nth-child(2),
.plodocument-table.hoditable2.requirements_provision_table.provision2_table .stable.ver tbody td:nth-child(2) {
    width: 276px;
}
.plodocument-table.hoditable2.provision2_table .stable.ver th:nth-child(3),
.plodocument-table.hoditable2.provision2_table .stable.ver tbody td:nth-child(3) {
    width: 230px;
}
.mr-100 {
    margin-right: 100px;
}
.tidetails.modau_taskt.modau_taskt_routing .tidetails_table td:nth-child(1) {
    width: 210px;
}

.objections_clarifications_table {

}
.stable_box.ver.hoditable2.plodocument-table.objections_clarifications_table th:first-child,
.stable_box.ver.hoditable2.plodocument-table.objections_clarifications_table td:first-child {
    padding-left: 20px;
}
.plodocument-table.hoditable2.objections_clarifications_table .stable.ver th:nth-child(2),
.plodocument-table.hoditable2.objections_clarifications_table .stable.ver tbody td:nth-child(2) {
    width: 387px;
}
.plodocument-table.hoditable2.objections_clarifications_table .stable.ver thead tr:nth-child(1) th:nth-child(3) {
    border-bottom: 2px solid #e4e4e4;
}
.plodocument-table.hoditable2.objections_clarifications_table .stable.ver thead tr:nth-child(1) th:nth-child(4) {
    border-bottom: 2px solid #e4e4e4;
}
.plodocument-table.hoditable2.objections_clarifications_table .stable.ver thead tr:nth-child(2) th:first-child {
    width: 165px;
    padding-left: 10px;
}
.plodocument-table.hoditable2.objections_clarifications_table .stable.ver thead tr:nth-child(2) th:nth-child(2) {
    width: 165px;
}
.plodocument-table.hoditable2.objections_clarifications_table .stable.ver thead tr:nth-child(2) th:nth-child(3) {
    width: 165px;
}
.plodocument-table.hoditable2.objections_clarifications_table .stable.ver thead tr:nth-child(2) th:nth-child(4) {
    width: 165px;
}

.plodocument-table.hoditable2.objections_clarifications_table .stable.ver tbody td:nth-child(3) {
    width: 165px;

}
.plodocument-table.hoditable2.objections_clarifications_table .stable.ver tbody td:nth-child(4) {
    width: 165px;
}

.plodocument-table.hoditable2.objections_clarifications_table .stable.ver tbody td:nth-child(5) {
    width: 165px;
    padding-left: 10px;
}
.plodocument-table.hoditable2.objections_clarifications_table .stable.ver tbody td:nth-child(6) {
    width: 165px;
    padding-left: 10px;
}

.stable_box.ver.hoditable2.plodocument-table.objection_documents_table th:first-child,
.stable_box.ver.hoditable2.plodocument-table.objection_documents_table td:first-child {
    padding-left: 20px;
}
.plodocument-table.hoditable2.objection_documents_table .stable.ver th:nth-child(2),
.plodocument-table.hoditable2.objection_documents_table .stable.ver tbody td:nth-child(2) {
    width: 840px;
}
.plodocument-table.hoditable2.objection_documents_table .stable.ver th:nth-child(3),
.plodocument-table.hoditable2.objection_documents_table .stable.ver tbody td:nth-child(3) {
    width: 220px;
}
.plodocument-table.hoditable2.objection_documents_table .stable.ver tbody td:nth-child(3) {
    padding-left: 80px;
}

.stable_box.ver.hoditable2.plodocument-table.reply_objection_table th:first-child,
.stable_box.ver.hoditable2.plodocument-table.reply_objection_table td:first-child {
    padding-left: 20px;
}
.plodocument-table.hoditable2.reply_objection_table .stable.ver th:nth-child(2),
.plodocument-table.hoditable2.reply_objection_table .stable.ver tbody td:nth-child(2) {
    width: 267px;
}
.plodocument-table.hoditable2.reply_objection_table .stable.ver th:nth-child(3),
.plodocument-table.hoditable2.reply_objection_table .stable.ver tbody td:nth-child(3) {
    width: 190px;
}
.plodocument-table.hoditable2.reply_objection_table .stable.ver th:nth-child(6),
.plodocument-table.hoditable2.reply_objection_table .stable.ver tbody td:nth-child(6) {
    padding-left: 10px;
}
.verificationForm .creaform_line .stselect {
    height: 50px;
}

.stable_box.ver.hoditable2.plodocument-table.reply_form_table th:first-child,
.stable_box.ver.hoditable2.plodocument-table.reply_form_table td:first-child {
    padding-left: 20px;
}
.plodocument-table.hoditable2.reply_form_table .stable.ver th:nth-child(2),
.plodocument-table.hoditable2.reply_form_table .stable.ver tbody td:nth-child(2) {
    width: 760px;
}
.plodocument-table.hoditable2.reply_form_table .stable.ver th:nth-child(3),
.plodocument-table.hoditable2.reply_form_table .stable.ver tbody td:nth-child(3) {
    width: 240px;
    text-align: center
}

.stable_box.ver.hoditable2.plodocument-table.poncts_resolution_table th:first-child,
.stable_box.ver.hoditable2.plodocument-table.poncts_resolution_table td:first-child {
    padding-left: 20px;
}

.plodocument-table.hoditable2.poncts_resolution_table .stable.ver th:nth-child(2),
.plodocument-table.hoditable2.poncts_resolution_table .stable.ver tbody td:nth-child(2) {
    width: 178px;
}
.plodocument-table.hoditable2.poncts_resolution_table .stable.ver th:nth-child(3),
.plodocument-table.hoditable2.poncts_resolution_table .stable.ver tbody td:nth-child(3) {
    width: 125px;
}
.plodocument-table.hoditable2.poncts_resolution_table .stable.ver th:nth-child(4),
.plodocument-table.hoditable2.poncts_resolution_table .stable.ver tbody td:nth-child(4) {
    width: 110px;
}
.plodocument-table.hoditable2.poncts_resolution_table .stable.ver th:nth-child(5),
.plodocument-table.hoditable2.poncts_resolution_table .stable.ver tbody td:nth-child(5) {
    width: 110px;
    padding-left: 10px;
}
.plodocument-table.hoditable2.poncts_resolution_table .stable.ver th:nth-child(6),
.plodocument-table.hoditable2.poncts_resolution_table .stable.ver tbody td:nth-child(6) {
    padding-left: 10px;
}
.plodocument-table.hoditable2.poncts_resolution_table .stable.ver th:nth-child(7),
.plodocument-table.hoditable2.poncts_resolution_table .stable.ver tbody td:nth-child(7) {
    padding-left: 10px;
    width: 177px;
}
.plodocument-table.hoditable2.poncts_resolution_table .stable.ver th:nth-child(8),
.plodocument-table.hoditable2.poncts_resolution_table .stable.ver tbody td:nth-child(8) {
    padding-left: 10px;
}

.stable_box.ver.hoditable2.plodocument-table.performers_pa_table th:first-child,
.stable_box.ver.hoditable2.plodocument-table.performers_pa_table td:first-child {
    padding-left: 20px;
}
.plodocument-table.hoditable2.performers_pa_table .stable.ver th:nth-child(2),
.plodocument-table.hoditable2.performers_pa_table .stable.ver tbody td:nth-child(2) {
    width: 480px;
}
.plodocument-table.hoditable2.performers_pa_table .stable.ver th:nth-child(3),
.plodocument-table.hoditable2.performers_pa_table .stable.ver tbody td:nth-child(3) {
    width: 260px;
}
.plodocument-table.hoditable2.performers_pa_table .stable.ver th:nth-child(4),
.plodocument-table.hoditable2.performers_pa_table .stable.ver tbody td:nth-child(4) {
    width: 260px;
}

.resultmodal_line.organ_selection_form .crerinput {
    justify-content: end;
    flex-direction: row;
    flex-wrap: nowrap;
}
.resultmodal_line.organ_selection_form .crerinput:nth-child(1) {
    width: 323px;
}
.resultmodal_line.organ_selection_form .crerinput:nth-child(2) input{
    width: 260px;
}
.resultmodal_line.organ_selection_form .crerinput span {
    width: auto;
    padding-right: 10px;
}
.resultmodal_line.organ_selection_form .account_input input {
    padding-left: 10px;
    width: auto;
}
.modal_search_form {

}
.modal_search_form .hodfilter {
    height: 100px;
    padding-top: 27px;
}
.modal_search_form .page-item.active .page-link {
    background-color: #4A89C3;
    border-color: #4A89C3;
}
.modal_search_form .page-link {
    color: #4A89C3;
}
.location_wrapper {
    min-height: 240px;
}
.addperformer_modal .location_wrapper .account_input.crerinput {
    margin-bottom: 14px;
}
.basis_exclusion .account_input.crerinput.vert-theme {
    margin-top: 20px;
}
.basis_exclusion .nav-tabs .nav-link {
    color: #4A89C3;
}
.basis_exclusion .nav-tabs .nav-item.show .nav-link,
.basis_exclusion .nav-tabs .nav-link.active {
    color: #495057;
}
.stable_box.ver.hoditable2.plodocument-table.authority_representatives_table th:first-child,
.stable_box.ver.hoditable2.plodocument-table.authority_representatives_table td:first-child {
    padding-left: 20px;
}
.plodocument-table.hoditable2.authority_representatives_table .stable.ver th:nth-child(2),
.plodocument-table.hoditable2.authority_representatives_table .stable.ver tbody td:nth-child(2) {
    width: 155px;
}
.plodocument-table.hoditable2.authority_representatives_table .stable.ver th:nth-child(3),
.plodocument-table.hoditable2.authority_representatives_table .stable.ver tbody td:nth-child(3) {
    width: 310px;
}
.plodocument-table.hoditable2.authority_representatives_table .stable.ver th:nth-child(4),
.plodocument-table.hoditable2.authority_representatives_table .stable.ver tbody td:nth-child(4) {
    width: 170px;
    padding-left: 10px;
}
.plodocument-table.hoditable2.authority_representatives_table .stable.ver th:nth-child(5),
.plodocument-table.hoditable2.authority_representatives_table .stable.ver tbody td:nth-child(5) {
    width: 370px;
    padding-left: 10px;
}
.officials_wrapper {
    margin-top: 20px;
}
.stable_box.ver.hoditable2.plodocument-table.applications_table th:first-child,
.stable_box.ver.hoditable2.plodocument-table.applications_table td:first-child {
    padding-left: 20px;
}
.plodocument-table.hoditable2.applications_table .stable.ver th:nth-child(2),
.plodocument-table.hoditable2.applications_table .stable.ver tbody td:nth-child(2) {
    width: 615px;
}

.plodocument-table.hoditable2.applications_table.applications_table_4 .stable.ver th:nth-child(2),
.plodocument-table.hoditable2.applications_table.applications_table_4 .stable.ver tbody td:nth-child(2) {
    width: 990px;
}
.plodocument-table.hoditable2.applications_table .stable.ver th:nth-child(3),
.plodocument-table.hoditable2.applications_table .stable.ver tbody td:nth-child(3) {
    width: 380px;
}

.stable_box.ver.hoditable2.plodocument-table.taken_measures_table th:first-child,
.stable_box.ver.hoditable2.plodocument-table.taken_measures_table td:first-child {
    padding-left: 20px;
}
.plodocument-table.hoditable2.taken_measures_table .stable.ver th:nth-child(3),
.plodocument-table.hoditable2.taken_measures_table .stable.ver tbody td:nth-child(3) {
    width: 490px;
}
.plodocument-table.hoditable2.taken_measures_table .stable.ver th:nth-child(4),
.plodocument-table.hoditable2.taken_measures_table .stable.ver tbody td:nth-child(4) {
    width: 300px;
}
.questions_modal.documentcreate_modal .modal-dialog {
    max-width: 950px;
}
.questions_modal.documentcreate_modal .stable.ver tbody td:nth-child(2) {
    width: 400px;
}
.questions_modal.documentcreate_modal .stable.ver tbody td:nth-child(1),
.questions_modal.documentcreate_modal .tasks_table.stable.ver th:nth-child(1){
    width: 50px;
}

.documentcreate_modal.adddatareq_modal_app .modal-dialog {
    max-width: 950px;
}
.adddatareq_modal_app .plodocument-table.hoditable2.applications_table.applications_table_4 .stable.ver th:nth-child(2),
.adddatareq_modal_app .plodocument-table.hoditable2.applications_table.applications_table_4 .stable.ver tbody td:nth-child(2) {
    width: 90px;
}
.adddatareq_modal_app .plodocument-table.hoditable2.applications_table .stable.ver th:nth-child(3),
.adddatareq_modal_app .plodocument-table.hoditable2.applications_table .stable.ver tbody td:nth-child(3) {
    width: 760px;
}
.adddatareq_modal_app .form_radio label:before {
    left: 22px;
    top: -11px;
}
.questions_table {
    height: 50vh;
    overflow: auto;
}
