table tr {
  border-bottom: 1pt  solid #585858;
}
tr:hover {background-color: #e5e5e5;}
th, td {
  padding: 15px;
  border: none;
}
table {
  border-collapse: collapse;
}

th {
  font-weight: bold;
}
