

.object-row {
  cursor: pointer;
}

.selected-object{
  background-color: #e5e5e5;
}

a.disabled {
  color: lightgray;
&:hover {
   text-decoration: none;
   color: lightgray;
 }
}



.tabs {
  display: flex;

  .tab {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;

    &.active {
      background-color: #e0e0e0;
    }
  }

  .tab-content {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    &.active {
      display: block;
    }
  }
}
