
<div class="light-gray center-content row">
      <div class=" tabs light-gray column">
        <div class="row item-700 space-between h-70">
          <div class="tab item-150" (click)="activateTab(1)" [class.active]="activeTab === 1">Dossier</div>
          <div class="tab item-150" (click)="activateTab(2)" [class.active]="activeTab === 2">Real Time</div>
          <div class="tab item-150" (click)="activateTab(3)" [class.active]="activeTab === 3">Forecast</div>
          <div class="tab item-150" (click)="activateTab(4)" [class.active]="activeTab === 3">Tab 4</div>
        </div>


        <div class="tab-content" [class.active]="activeTab === 1">

          <div class="dark-gray h-500 item-1000 center-content">
            <div class="item-800 mt-20">
              <h2 class="">{{"Перечень пожаров в реальном времени" }}</h2>
              <div class="content-body mt-20">
                <div class="row space-between item-400">
                  <div class="filter-item d-flex align-items-center">
                    <span class="mr-2">{{"Год" }}:</span>

                    <select class="ml-10" [(ngModel)]="yearId">
                      <option *ngFor="let year of years" [value]="year.value">{{year.label}}</option>
                    </select>
                  </div>
                  <div class="filter-item d-flex align-items-center">
                    <span class="mr-2">{{"Месяц" }}:</span>
                    <select class="ml-10" [(ngModel)]="monthId">

                      <option *ngFor="let month of months" [value]="month.value">{{month.label}}</option>
                    </select>
                  </div>
                  <button class="item-90 h-30 dark-green1 white" (click)="findFire()">{{"Найти" }}</button>
                </div>
                <!--    <ng-container *ngIf="planIsEmpty">-->
                <!--      <div class="text-info">{{"План ещё не создан. Создайте план для работы с мероприятиями"  }}</div>-->
                <!--    </ng-container>-->

                <div class="h-70 column space-between mt-20" *ngIf="!listIsEmpty">
                  <h3 class="aisection_hdr">{{"Пожары"  | uppercase}}</h3>
                  <div class="mt-20">
                    <button class="item-300 h-40 dark-green1-button white " (click)="changeFire()" [class.disabled]="!currentFire" [disabled]="!currentFire">
                      {{"Генерация отчета и настройка параметров" }}
                    </button>
                    <!--        <button class="account_btn mr-1"  type="button" [class.disabled]="!currentFire" [disabled]="!currentFire" (click)="this.modalService.open(removeAuditDia)">-->
                    <!--          {{"Удалить" }}-->
                    <!--        </button>-->
                  </div>
                </div>

                <div class="mt-20" *ngIf="!listIsEmpty">
                  <table class="item-800 center-text">
                    <thead>
                    <tr>
                      <!-- Чтобы добавить треугольник добавьте класс .sort к блоку th. , чтобы перевернуть треугольник добавьте ещё и класс .up к тому же блоку -->
                      <th class="">№</th>
                      <th class="">Дата</th>
                      <th class=" ">Время</th>
                      <th class=" ">Ширина</th>
                      <th class=" ">Долгота</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="listFires && listFires.length === 0">
                    <tr>
                      <td colspan="7" class="text-center">{{"В перечне ещё нет аудиторских мероприятий" }}</td>
                    </tr>
                    </tbody>
                    <tbody *ngIf="listFires && listFires.length">
                    <tr *ngFor="let item of listFires; let i = index;" (click)="selectEvent(item)" class="object-row" [class.selected-object]="currentFire && currentFire.id === item.id">
                      <td>{{i + 1}}</td>
                      <td>
                        {{item.acqDate}}
                      </td>
                      <td>
                        {{item.acqTime}}
                      </td>
                      <td>
                        {{item.latitude}}
                      </td>
                      <td>
                        {{item.longitude}}
                      </td>

                    </tr>
                    </tbody>

                  </table>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="tab-content" [class.active]="activeTab === 2">
          <app-fire-real-time-report></app-fire-real-time-report>
        </div>
        <div class="tab-content" [class.active]="activeTab === 3">Content for Tab 3</div>
      </div>
    </div>
