
<div class="light-gray center-content row">
      <div class=" tabs light-gray column">
        <div class=" row item-250 space-between h-70">
          <div class="tab" (click)="activateTab(1)" [class.active]="activeTab === 1">Tab 1</div>
          <div class="tab" (click)="activateTab(2)" [class.active]="activeTab === 2">Tab 2</div>
          <div class="tab" (click)="activateTab(3)" [class.active]="activeTab === 3">Tab 3</div>
        </div>


        <div class="tab-content" [class.active]="activeTab === 1">

          <div class="dark-gray h-700 item-1000">
            <h2 class="audit_hdr">{{"Перечень пожаров в реальном времени" }}</h2>
            <div class="content-body">
              <div class="meeting_header">
                <h3 class="aisection_hdr">{{"Перечень"  | uppercase}}</h3>

              </div>
              <div class="row space-between item-370">
                <div class="filter-item d-flex align-items-center">
                  <span class="mr-2">{{"Год" }}:</span>

                  <select class="selectinput" [(ngModel)]="yearId">
                    <option *ngFor="let year of years" [value]="year.value">{{year.label}}</option>
                  </select>
                </div>
                <div class="filter-item d-flex align-items-center">
                  <span class="mr-2">{{"Месяц" }}:</span>
                  <select class="selectinput" [(ngModel)]="monthId">
                    <option *ngFor="let month of months" [value]="month.value">{{month.label}}</option>
                  </select>
                </div>
                <button class="item-90 h-40 dark-green1 white" (click)="findFire()">{{"Найти" }}</button>
              </div>
              <!--    <ng-container *ngIf="planIsEmpty">-->
              <!--      <div class="text-info">{{"План ещё не создан. Создайте план для работы с мероприятиями"  }}</div>-->
              <!--    </ng-container>-->

              <div class="search-result d-flex justify-content-between" *ngIf="!listIsEmpty">
                <h3 class="aisection_hdr">{{"Пожары"  | uppercase}}</h3>
                <div class="d-flex">
                  <button class="item-90 h-40 dark-green1 white" (click)="addFire()" [class.disabled]="!currentFire" [disabled]="!currentFire">
                    {{"Добавить" }}
                  </button>
                  <button class="item-90 h-40 dark-green1 white" type="button" [class.disabled]="!currentFire" [disabled]="!currentFire " (click)="changeFire()">
                    {{"Изменить" }}
                  </button>
                  <!--        <button class="account_btn mr-1"  type="button" [class.disabled]="!currentFire" [disabled]="!currentFire" (click)="this.modalService.open(removeAuditDia)">-->
                  <!--          {{"Удалить" }}-->
                  <!--        </button>-->
                </div>
              </div>

              <div class="" *ngIf="!listIsEmpty">
                <table class="item-700 center-text">
                  <thead>
                  <tr>
                    <!-- Чтобы добавить треугольник добавьте класс .sort к блоку th. , чтобы перевернуть треугольник добавьте ещё и класс .up к тому же блоку -->
                    <th class="">№</th>
                    <th class="">Дата</th>
                    <th class=" ">Время</th>
                    <th class=" ">Ширина</th>
                    <th class=" ">Долгота</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="listFires && listFires.length === 0">
                  <tr>
                    <td colspan="7" class="text-center">{{"В перечне ещё нет аудиторских мероприятий" }}</td>
                  </tr>
                  </tbody>
                  <tbody *ngIf="listFires && listFires.length">
                  <tr *ngFor="let item of listFires; let i = index;" (click)="selectEvent(item)" class="object-row" [class.selected-object]="currentFire && currentFire.id === item.id">
                    <td>{{i + 1}}</td>
                    <td>
                      {{item.acqDate}}
                    </td>
                    <td>
                      {{item.acqTime}}
                    </td>
                    <td>
                      {{item.latitude}}
                    </td>
                    <td>
                      {{item.longitude}}
                    </td>

                  </tr>
                  </tbody>

                </table>
              </div>
            </div>
          </div>

        </div>
        <div class="tab-content" [class.active]="activeTab === 2">
          <app-fire-real-time-report></app-fire-real-time-report>
        </div>
        <div class="tab-content" [class.active]="activeTab === 3">Content for Tab 3</div>
      </div>







    </div>
