<div class="dark-gray center-content minheight">
  <div class=" ">
    <h2 class="">{{"Latest News" }}</h2>
    <div class="content-body mt-20">
      <div class="">
        <div class="row item-500">
          <button class="item-90 h-40 dark-green1 white"  (click)="addNews()">
            {{"Добавить" }}
          </button>
          <button class="item-90 h-40 dark-green1 white"  (click)="deleteNews()">
            {{"Добавить" }}
          </button>

        </div>
      </div>

    </div>
  </div>

</div>
