/* You can add global styles to this file, and also import other style files */

* {
  color: #343D33;
  font-family: Inter, serif;
  margin: 0;
  padding: 0;
}
.aisection_preview {
  display: none;
  padding-top: 22px;
}

.prepadoc {
  display: block;
}

