<div class="light-gray center-content center-item pb-80">
  <div class="dark-gray item-1000 h-800 column center-item">
      <div class="h-700 space-between column mt-20">
        <h2 class="">USER PROFILE</h2>

        <div class="background-white center-content item-900 h-600 form cont-form column center-item">
          <div class="h-500 space-between column">
            <div class="row space-between item-800 h-200 ">
              <div class="column item-200 h-200 space-between">
                <img class="item-150 br-50" src="https://is1-ssl.mzstatic.com/image/thumb/Music112/v4/03/13/fa/0313fa35-d103-ce87-5ad6-5b56628f2dea/22UM1IM27376.rgb.jpg/1200x1200bf-60.jpg" alt="">
                <button class="item-150 h-25 light-violet">Upload New Image</button>
              </div>
              <div class="item-600 div h-200 center-content center-item">
                <div class="h-180 item-500 column space-between ">
                  <div class="row space-between item-500">
                    <div class="">
                      <div class="gray-text">Username</div>
                      <div class="">settings66</div>
                    </div>
                    <div class="">
                      <button class="light-violet h-25 item-80">Edit</button>
                    </div>
                  </div>

                  <div class="row space-between item-500">
                    <div class="">
                      <div class="gray-text">Email</div>
                      <div class="">wilbur@mail.com</div>
                    </div>
                    <div class="">
                      <button class="light-violet h-25 item-80">Edit</button>
                    </div>
                  </div>

                  <div class="row space-between item-500">
                    <div class="">
                      <div class="gray-text">Phone Number</div>
                      <div class="">+91 45977845722</div>
                    </div>
                    <div class="">
                      <button class="light-violet h-25 item-80">Edit</button>
                    </div>
                  </div>

                  <div class="row space-between item-500">
                    <div class="">
                      <div class="gray-text">Birth Date</div>
                      <div class="">14/09/1996</div>
                    </div>
                    <div class="">
                      <button class="light-violet h-25 item-80">Edit</button>
                    </div>
                  </div>
                </div>


              </div>
            </div>

            <div class="row space-between item-800 h-200 center-content">
              <div class="div item-180 h-200 center-content center-item">
                <div class="h-150 column space-between">
                  <div class="row space-between">
                    <div class="ml-10">
                      <div class="gray-text">First Name</div>
                      <div class="">William</div>
                    </div>
                    <div class="">
                      <img class="h-25 item-80" src="assets/img/pen%201.svg">
                    </div>
                  </div>
                  <div class="row space-between">
                    <div class="ml-10">
                      <div class="gray-text">Last Name</div>
                      <div class="">Gold</div>
                    </div>
                    <div class="">
                      <img class="h-25 item-80" src="assets/img/pen%201.svg">
                    </div>
                  </div>
                  <div class="row space-between">
                    <div class="ml-10">
                      <div class="gray-text">Middle Name</div>
                      <div class="">Patrick Spencer</div>
                    </div>
                    <div class="">
                      <img class="h-25 item-80" src="assets/img/pen%201.svg">
                    </div>
                  </div>
                </div>

              </div>
              <div class="ml-10 row space-between item-600 h-200">
                <div class="item-600 div h-200 center-content center-item">
                  <div class="h-180 item-500 column space-between ">
                    <div class="row space-between item-500">
                      <div class="">
                        <div class="gray-text">Location</div>
                        <div class="">Almaty, Kazakhstan</div>
                      </div>
                      <div class="">
                        <button class="light-violet h-25 item-80">Edit</button>
                      </div>
                    </div>

                    <div class="row space-between item-500">
                      <div class="">
                        <div class="">Notification Preferences</div>
                      </div>
                    </div>

                    <div class="row space-between item-200">
                      <div class="">
                        <div class="gray-text">Email</div>
                      </div>
                      <div class="">
                        <button class="dark-violet h-25 item-80">OFF</button>
                      </div>
                    </div>

                    <div class="row space-between item-200">
                      <div class="">
                        <div class="gray-text">SMS</div>
                      </div>
                      <div class="">
                        <button class="colorful-green h-25 item-80">ON</button>
                      </div>
                    </div>
                  </div>


                </div>
              </div>

            </div>
            <div class="">
              <div class="row space-between">
                <div class="row space-between item-250">
                  <button class="dark-violet h-25 item-80">BLOCK</button>
                  <button class="red-button h-25 item-150">DELETE ACCOUNT</button>
                </div>
                <div class="">
                  <button class="dark-green2 white h-25 item-80">SAVE</button>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="row space-between item-80 center-item">
          <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <rect x="14.1177" width="15" height="14.1176" transform="rotate(90 14.1177 0)" fill="url(#pattern0)"/>
            <defs>
              <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                <use xlink:href="#image0_451_5961" transform="matrix(0.015625 0 0 0.0166016 0 -0.03125)"/>
              </pattern>
              <image id="image0_451_5961" width="64" height="64" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAHLSURBVHic7ZW7SgNBGEbPPwna2AVSWYhYBEXR0gewstFCEUQfQnwlicTG2iIPIawmaGFhpWAjViaOjUIIuexlLrn8p9xmv3N2mAVFURRFURRFURRl/hCArdO15W7HHP9YqrEHhcAIb6XyT+P+6vlVakdru8bIHbAUe1hgPhH2StXNyg2wGntNBBYtsm6AndhLYiHYbQO0Yg+JSNuIMRdAJ/aSCHTEmEuT1NtNsZwA37EXhUKgK5bzpN5ulgDek4/H6kblAeEQKEXe5xWBLpazpPFUhx7ZeYjQLw99orMcYZA8DJCcxQjD5GGI4CxFGCUPI+RmIcI4eRgjNs0R0shDCqlpjJBWHlIKTVOELPKQQWYaImSVh4wikxwhjzzkkJjECHnlIafAJEUoIg8Fxk9ChKLyUHB4zAgu5MHB6BgRXMmDo8EhI7iUB4djQ0RwLQ+Oh/qM4EMePHwpHxF8yYOno+oygk958HhhuYjgWx4839hFIoSQhwD/7TwRQsmTdlBRskQIKc+4MS5JEyG0PMOG+GJUhBjy9I8IQU+EfWDh7/GXWE6TxlMj9B4J/cJ/aie1FbGdAwAr5dvWdesl1hZFURRFURRFURRl3vgFZcdLzcSeLlEAAAAASUVORK5CYII="/>
            </defs>
          </svg>

          <h4 class="">Back</h4>
        </div>
      </div>

  </div>
</div>
